{% extends "dnd/abstract/base.html" %}

{% block todo %}
    <p>While adventurers were looking for Lokahmee. He experienced the following</p>

    <p>
        Hanuman left his temple, since there was no need for him to hold up appearances anymore.
        However his powers are still bound to his soul that are still in possession of the Ankheg.
        Vulnerable as he might be, he is capable of removing the curse from Lokahmee, who wakes up.
        Unable to negate psionics he breaks the curse and suggests that he does a wish to remove psionics.
        Doubting it would do him good he decides to give it a shot and is surprised how fake his life had become.
        Lokahmee is shocked by the story of the soul and the 'unescapable' spread of evil that it entails when connected to his device.
        He agrees to help Hanuman to claim his soul when the adventurers find him and decides to fool Rafana into believing he still loves her.
    </p>

    <p>
        What Hanuman and Lokahmee don't know is that Rafana is mentally tied to the tree they are standing under and that she heard everything.
        She and Olivet are devising a plan to steal the soul when Lokahmee retrieves it.
    </p>

    <p>
        Lokahmee is spending time on corrupting island. What will happen to him?
        Has Hanuman been cleansing the island?
    </p>

    <p>Lokahmee will provide a distraction for the Formian, which have become formidable and party needs to take Ankheg out. They decide to meet on the beach afterwards</p>

    <p>When they succeed "absolute power corrupts absolutely", but Lokahmee has a spell to take the soul from whomever.</p>

    <p>
        Once on the beach, Olivet, Rafana, a Shield Guard, the Waukeen priest and Dralen are also there.
        They have come with a flying ship (as none of the teleporters really know the place)
        The Phase Spider is lurking on the ethereal plane and strike Lokahmee from nowhere.
        Pirates are shooting fireballs from the ship.
        Oracle helps by going into The Fury

        Garrilions may intervene if necessary. Hanuman may help as well.

    </p>
{% endblock %}