{% extends "dnd/abstract/base.html" %}

{% block content %}

    <div class="row-fluid">
        <div class="span12">
            <h2>Outside</h2>
            <ol style="list-style: upper-alpha">
                <li>Archway</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li>Market Square <a href="../temple-of-Waukeen.html">temple of Waukeen</a></li>
                <li>Stairs up to <a href="../temple-of-Waukeen.html">temple of Waukeen</a></li>
                <li>Elevator/scale into the sanctuary and treasury</li>
                <li>Scale</li>
                <li>Scale</li>
                <li>Soutern exit to <a href="../city-center.html">South side warehouses</a></li>
                <li>Northern exit to <a href="../the-guilds.html">North side warehouses</a></li>
                <li>Ramp to <a href="../../residence-district/south-side-nobles.html">South side nobles</a></li>
                <li>Ramp to <a href="../../residence-district/north-side-nobles.html">North side nobles</a></li>
            </ol>
            <h2>Inside</h2>
            <ol>
                <li></li>
                <li>Illusions</li>
                <li>Base for Faerun magic shop and cloth store</li>
            </ol>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h4>Counterfeiting</h4>
            <p>
                As an illusionist it is possible to counterfeit the fake currency that they have in Sembia.
                Every amount spend below 2000 is safe. Money above 2000 will be checked and casters need to succeed on SpellcraftDC30 to pass a casual test.
                After counterfeiting 10.000 euro there is a higher change of a thorough investigation that surely fails unless epic magic is involved.
                Per 10.000 gp there is a +10% change that money used in a transaction is fake.
            </p>
        </div>
    </div>

{% endblock %}