{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Catching smugglers{% endblock %}
{% block summary %}Either through the Red Wave or through following Thekesh/Mortabar they can discover the smuggling route{% endblock %}

{% block events %}
    <p>The whereabouts of <a href="../../characters/Thekesh-Moltabar+naieve-entrepeneur.html">Thekesh/Moltabar</a> depends on the time of the day. Here is his schedule:</p>
    <ul>
        <li>06-12 -> Moltabar (in the shop)</li>
        <li>12-15 -> Thekesh (market, breakers, cave)</li>
        <li>15-18 -> Moltabar (in the shop)</li>
        <li>18-00 -> a sleep (house of Moltabar above his store)</li>
        <li>00-06 -> Thekesh (seawater, breakers, cave, harbor)</li>
    </ul>

    <p>
        When stepping through the secret passage behind the closet. The person gets pounced by a <a href="../../monsters/Effigy-lion+guard.html">effigy lion</a>
        and the symbol of stunning is triggered.
    </p>
{% endblock %}

{% block locations %}
    <p>Smuggling of goods takes place between these locations</p>
    <ul>
        <li><a href="../../places/Yauhnn/trade-district/harbor/the-red-wave+elite-pirates-galley.html">The Red Wave</a></li>
        <li><a href="../../places/Yauhnn/slums-district/sea-water-slums.html">sea water slums</a></li>
        <li><a href="../../places/Yauhnn/slums-district/breakers-slums.html">breakers slums</a></li>
        <li><a href="../../places/Yauhnn/slums-district/cave-slums.html">cave slums</a></li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}