{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Catching smugglers{% endblock %}
{% block summary %}Either through the Red Wave or through following Thekesh/Mortabar they can discover the smuggling route{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>Smuggling of goods takes place between these locations</p>
    <ul>
        <li><a href="../../places/Yauhnn/trade-district/harbor/the-red-wave+elite-pirates-galley.html">The Red Wave</a></li>
        <li><a href="../../places/Yauhnn/slums-district/sea-water-slums.html">sea water slums</a></li>
        <li><a href="../../places/Yauhnn/slums-district/breakers-slums.html">breakers slums</a></li>
        <li><a href="../../places/Yauhnn/slums-district/cave-slums.html">cave slums</a></li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}