{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Catching smugglers{% endblock %}
{% block summary %}Either through the Red Wave or through following Thekesh/Mortabar they can discover the smuggling route{% endblock %}

{% block events %}
    <p>
        When following Thekesh. The adventurers notice that he goes into the breakers slums at about one. They have a short briefing inside and then go to the Red Wave.
        Then some half-locathah and humans start to carry crates from Thekesh his place to the breakers slums. The crates contains fish
        Very late at night a bunch of half-locathah and humans start to carry crates towards Thekesh his place in the caves. (SearchDC will reveal mithral)
    </p>
    <p>
        At the Red Wave when on stake out people with darkvision can roll a SpotDC20 for seeing multiple figures swimming in the water around the ship.
        Not long after they hear a splash and the figures swim in the direction of the breakers slums.
    </p>

{% endblock %}

{% block locations %}
    <p>Smuggling of goods takes place between these locations</p>
    <ul>
        <li><a href="../../places/Yauhnn/trade-district/harbor/the-red-wave+elite-pirates-galley.html">The Red Wave</a></li>
        <li><a href="../../places/Yauhnn/slums-district/sea-water-slums.html">sea water slums</a></li>
        <li><a href="../../places/Yauhnn/slums-district/breakers-slums.html">breakers slums</a></li>
        <li><a href="../../places/Yauhnn/slums-district/cave-slums.html">cave slums</a></li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}