{% extends "dnd/abstract/obstacle.html" %}

{% block title %}One Evening At Olivet's{% endblock %}
{% block summary %}Rafana and Olivet are fucking and then quirelling about Taikon{% endblock %}

{% block events %}
    <p>
        Either <a href="../../characters/Janala+talos-oracle.html">Janala</a> or <a href="../../characters/Kalong+waukeen-inquisitor.html">Kalong</a>
        Show the adventurers this through their scrying or Kadunkle attempts a scry or they break into the home somehow.
    </p>
{% endblock %}

{% block locations %}
    <p>no locations</p>
{% endblock %}

{% block achievements %}
    <p>The clock starts counting. In one week the <a href="../05-respectable-citizens/the-secret-ritual.html">the secret ritual</a> takes place.</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>Handout 08-All-One-Evening-At-Olivets.odt</p>
{% endblock %}