{% extends "dnd/abstract/base.html" %}

{% block content %}
    <p>Does Pomin point out the ritual to them? Does he get his info from Rafana?</p>
    <p>When hearing the following the adventurers know that Talos intervened.</p>

    <p>L: It failed</p>
    <p>O: What?! It failed again?!</p>
    <p>L: I don't understand</p>
    <p>O: You promised us that this time you would get it right Lokahmee!</p>
    <p>L: I know. And I'm absolutely sure that the ritual was performed perfectly.</p>
    <p>O: Fuck! I'm fucked! We are fucked!</p>
    <p><i>Rafana puts here arms around Lokahmee. She stands on her toes to get close.</i></p>
    <p>R: Maybe the Gods don't want us to get the soul of Hanuman.</p>
    <p>L: The Gods do not exist love, there must be a perfectly reasonable explanation for this.</p>
    <p>R: You're right.</p>
    <p><i>Rafana gives Lokahmee a long kiss. Olivet and Rafana exchange looks while she does so.</i></p>
    <p>R: So what could it be?</p>
    <p>L: Our premises must be wrong. That is the only thing that can explain this.</p>
    <p>R: What do you mean?</p>
    <p>
        L: Maybe Hanuman's soul is not with Hanuman.
        We scry on Hanuman and try to get his soul, but what if that object we're looking at is not his soul?
        That would explain a failure.
    </p>
    <p>O: Waukeen let us sell stupidity, because we are in oversupply!</p>
    <p>L: No, no, no this makes sense</p>
    <p><i>Gently comes loose from Rafana</i></p>
    <p>
        L: According to the literature Hanuman is completely powerless without his soul.
        Whether it is a soul or not is irrelevant. It is his source of power.
        It makes sense that he will try to hide it to prevent theft.
        Misleading everybody to believe that that orb is his source of power is the best security there is.
    </p>
    <p>R: Can we discover where he is hiding it?</p>
    <p>L: Yes we can, but not by conventional magic. We'll need another ritual.</p>
    <p>O: Not another ritual! ...</p>
{% endblock %}