{% extends "dnd/abstract/place.html" %}

{% block title %}Breakers slums{% endblock %}
{% block summary %}Poorest area in whole of Yauhnn. Kids like to play around the pool.{% endblock %}

{% block events %}
    <p>Trying to get on land through the breaker slums is perilous.
        The boat will break on the cliffs. With a ReflexDC 15 they can
    </p>

    <p>During the day</p>
    <ul>
        <li>
            Children come running towards them, follow them everywhere.
            They want to swim with the adventurers and play tag.
        </li>
        <li>Mothers gather around the pool, watching their children.</li>
    </ul>
{% endblock %}

{% block locations %}
    <p><b>
        The houses here are nothing but a few wooden planks holding some fleece as a roof. Most houses do not even have a door.
        It would probably smell terrible if the wind wasn't blowing so hard around here.
    </b></p>

    <p>Landmarks</p>
    <ul>
        <li>In the middle of the area there is a big pool. Children are playing there during the day (see events)</li>
        <li>
            There is one shack next to big pool where children are constantly crying.
            Inside there are children with wounded hands.
        </li>
    </ul>
    <p>Neighbooring area's</p>
    <ul>
        <li>There is a stair winding up the cliff to <a href="church-of-Valkur.html">Lighthouse / The Church of Valkur</a></li>
        <li>The cliff face is crawling with small caves forming <a href="cave-slums.html">The Cave Slums</a></li>
        <li>
            The pool in the middle of this area leads to <a href="sea-water-slums.html">The Sea Water Slums</a>
            (SpotDC 13: to notice swimmers deeper in the pool)
        </li>
        <li>Breakers slums is closest to the open <a href="../sea.html">sea</a> (which brings some hazards)</li>
        <li>You can go to area where <a href="fisher-boats.html">fisher boats</a> are docked</li>
    </ul>

    <p>View</p>
    <ul>
        <li>The docks</li>
        <li>Massive building with a huge round window showing a face enprofile in glass and lead (see ReligionDC)</li>
        <li>Walls with a tower on sea side and some kind of fortress in the middle of the bay</li>
        <li>Behind the ships the whole bank consists of noble houses. The ones closer to the water are smaller.</li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>When</p>
{% endblock %}

{% block conditions %}
   <dl class="dc">
      <dt>BreathDC: 13</dt>
      <dd>Stay to suck in the sea air (for an hour)</dd>
   </dl>
{% endblock %}

{% block knowledges %}
    <p>Children mothers at pool</p>
    <dl class="dc">
       <dt>GatherDC:</dt>
       <dd>11 < some gossip about the children</dd>
       <dd>12 >= sincere worry about the future of their children.
            Living in poverty is hard.
            They see how other children are suffering from the work they have to do.
            Someone like <a href="/dnd/characters/Thekesh-Moltabar.html">Thekesh</a> was able to have a better life
       </dd>
       <dd>15 >= children job is to put metal inside of rotten fish with their small fingers</dd>
       <dd>18 >= children work for <a href="/dnd/characters/Thekesh-Moltabar.html">Thekesh</a></dd>
    </dl>
    <p>Children mothers inside caring for crying children</p>
    <dl class="dc">
       <dt>HealDC:</dt>
       <dd>10 < wounds on hands
       <dd>10 >= the wounds are festering giving them high fever, life threatening, especially for children</dd>
       <dd>15 >= able to subdue the fever and relief pain somewhat</dd>
       <dd>20 >= typical infection seen with people working with rotten fish</dd>
    </dl>
    <dl class="dc">
       <dt>GatherDC:</dt>
       <dd>10 < children were playing (retry allowed)</dd>
       <dd>10 >= children suffer injuries when working, but they badly need money</dd>
       <dd>15 >= their job is to put metal inside of rotten fish with their small fingers</dd>
       <dd>18 >= children work for <a href="/dnd/characters/Thekesh-Moltabar.html">Thekesh</a></dd>
    </dl>

    <dl class="dc">
       <dt>ReligionDC:</dt>
       <dd> 10 >= The emblem on the building at the base of the harbor is the Waukeen emblem</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}
