{% extends "dnd/abstract/place.html" %}

{% block title %}Cave Market{% endblock %}
{% block summary %}No summary{% endblock %}

{% block todo %}Knowledges, conditions, achievements, creatures{% endblock %}

{% block locations %}
    <p>Places of interest in this area</p>
    <ol>
        <li>Clothing</li>
        <li>Blacksmith, Talos devotee, (sells up to masterwork cheap)</li>
        <li>Brewery, partly scorned by Mirika attack</li>
        <li>Sea weeds, Druid, (CLW, CMW, CSW cheap!)</li>
        <li>Gear and tools</li>
        <li>Entertainment</li>
    </ol>
    <p>Neighbooring area's</p>
    <ul>
        <li>A shrine with secret entrance to <a href="the-church-of-Talos.html">church of Talos</a></li>
        <li>In the back of brewery a stinking passage (FortDC12: nauseated) to <a href="cave-slums.html">cave slums</a></li>
        <li>Towards the light, outside to <a href="fish-market.html">fish market</a></li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}

    <h4>Mirika - insane half-elf girl</h4>
    <p>Roll random on locations to determine whereabouts.</p>
    <dl class="dc">
        <dt>WisdomDC:</dt>
        <dd> >= 17 wears insignia of Lokahmee</dd>
        <dd> >= 12 insignia look familiar</dd>
    </dl>
    <dl class="dc">
       <dt>KnowledgeLocalDC:</dt>
       <dd> >= 10 Clothing seem noble elven from Dalelands</dd>
    </dl>

    <h4>Blacksmith</h4>
    <p></p>

    <h4>Sea weed lady</h4>

{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>GatherInformationDC:</dt>
        <dd> >= 10</dd>
        <dd> >= 20</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}
