{% extends "dnd/abstract/place.html" %}

{% block title %}Cave slums{% endblock %}
{% block summary %}Living quarters for many half Locathah and some poor humans.{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p><b>
        Walking around you see many sheds setup in the cave complex.
        Many half-Locathah and some poor humans live here packed on each other.
        Especially deeper into the caves it is filthy.
        More towards the cliffs there is a wind coming from the sea, which makes it more bearable.
        These sheds also have a stunning view.
    </b></p>

{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}