{% extends "dnd/abstract/place.html" %}

{% block title %}Cave slums{% endblock %}
{% block summary %}Living quarters for many half Locathah and some poor humans.{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p><b>
        Walking around you see many sheds setup in the cave complex.
        Many half-Locathah and some poor humans live here packed on each other.
        Especially deeper into the caves it is filthy and impossible to see without light.
        More towards the cliffs there is a wind coming from the sea, which makes it more bearable.
        These sheds also have a stunning view.
    </b></p>

    <p>From here the adventurers can go to:</p>
    <ul>
        <li>Climb the stairs up the cliff side to <a href="temple-of-Valkur.html">temple of Valkur</a></li>
        <li>
            Work your way down the caves and through narrow alley to <a href="slums-market.html">slums market</a>
            (FortDC12: nauseated, see BreathDC)
        </li>
        <li>Climb down the stairs on the cliff side to <a href="breakers-slums.html">breakers slums</a></li>
    </ul>

{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>These conditions apply once a day that they enter this area until the adventurers really go all the way.</p>

    <dl class="dc">
       <dt>BreathDC: 15</dt>
       <dd>Can't go through passage to <a href="cave-slums.html">cave slums</a></dd>
    </dl>

{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}