{% extends "dnd/abstract/place.html" %}

{% block title %}No title{% endblock %}
{% block summary %}No summary{% endblock %}

{% block events %}
    <p>When entering for the first time (through church of Valkur</p>
    <ol>
        <li>Adventures enter through curtains to a bigger cave.</li>
        <li>The cave is decorated as a temple of Talos.</li>
        <li>Many Locathah and half Locathah are facing the higher part of the cave that party is on.</li>
        <li>That part serves as altar where now two half-Locathah are in a bloody fist fight.</li>
        <li><a href="../../../characters/Janala+talos-oracle.html">A female cleric</a> also stands on the altar and recognizes the adventurers as figures from the prophecy</li>
        <li>Everybody drops to their knees in worship</li>
        <li>All wounds and taint is taken care off by <a href="../../../characters/Janala+talos-oracle.html">Janala</a></li>
    </ol>
{% endblock %}

{% block locations %}
    <p>no locations</p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}




