{% extends "dnd/abstract/place.html" %}

{% block title %}The fisher boats{% endblock %}

{% block summary %}
    <p>
        Safest place to get to land for smaller boats without paying harbor fees.
        Bit of a market place for fishermen, but only unofficially.
    </p>
{% endblock %}

{% block events %}
    <p>
        At night guards are walking the second tier of the city with torches.
        They overlook the fisher boats, but are not terribly enthusiastic to go down.
    </p>

    <p>
        As adventurers walk by during the day, <a href="../../../characters/Sjahnsesh+shark-hunter.html">Sjahnsesh</a>
        makes a remark about shabby equipment. He suggests to take them to some good (shady) employers at
        <a href="the-horrid-lust+pirate-inn.html">The Horrid Lust</a>.
    </p>
{% endblock %}

{% block locations %}
    <p><b>
        Nobody is living in this area. There are just a lot of boats and fishing nets everywhere. It smells like rotten fish.
    </b></p>

    <p>Places of interest in this area</p>
    <ul>
        <li>Shark stand (Locathah captain)</li>
        <li>Fish stands</li>
        <li>Octopus stands</li>
    </ul>
    <p>Neighbooring area's</p>
    <ul>
        <li>Behind the fish nets there are entrances to <a href="slums-market.html">slums market</a></li>
        <li>Walk away from city center to <a href="breakers-slums.html">breakers-slums</a></li>
        <li>Go up the goods scale to <a href="../trade-district/food-market.html">food market</a> (Waukeen guards there, see knowledge)</li>
        <li>Walk towards city center to <a href="harbor-slums.html">harbor slums</a></li>
    </ul>
    <p>View</p>
    <ul>
        <li>The docks</li>
        <li>Massive building with a huge round window showing a face enprofile in glass and lead (see ReligionDC)</li>
        <li>Walls with a tower on sea side and some kind of fortress in the middle of the bay</li>
        <li>Behind the ships the whole bank consists of noble houses. The ones closer to the water are smaller.</li>
    </ul>
{% endblock %}

{% block creatures %}
    <h4><a href="../../../characters/Sjahnsesh+shark-hunter.html">Sjahnsesh</a> - Locathah captain</h4>
    <ul>
        <li>Can be found at the sharks stand.</li>
        <li>A Talos devotee</li>
        <li>Can help to get to <a href="the-horrid-lust+pirate-inn.html">The Horrid Lust</a></li>
    </ul>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>GatherInformationDC:</dt>
        <dd> 10 >= The men drinking are complaining about the little they earn with fish</dd>
        <dd>
            14 >= The men say that it is all <a href="../../../characters/Thekesh-Moltabar.html">Moltabar's</a> fault
            and that they wish they worked for <a href="../../../characters/Otalan+delicious-fish-merchant.html"></a>
        </dd>
        <dd> 18 >= The men drinking earn some money on the side at night</dd>
    </dl>

     <dl class="dc">
       <dt>SpotDC:</dt>
       <dd> 10 >= There are guards watching out over the fishermen from food market. (see ReligionDC)</dd>
    </dl>

    <dl class="dc">
       <dt>ReligionDC:</dt>
       <dd> 10 >= The emblem the guards are wearing and is on the building at the base of the harbor is the Waukeen emblem</dd>
    </dl>
{% endblock %}

