{% extends "dnd/abstract/place.html" %}

{% block locations %}
    <p>Places of interest in this area</p>
    <ul>
        <li>Sharks sell (Locathah captain)</li>
    </ul>
    <p>Neighbooring area's</p>
    <ul>
        <li></li>
    </ul>
{% endblock %}

{% block creatures %}
    <h4>Sjahnsesh - Locathah captain</h4>
    <ul>
        <li>Can be found at the sharks sell.</li>
        <li>A Talos devotee</li>
        <li>Can help to get to <a href="sea-water-slums.html">sea water slums</a> and <a href="drinking-mermaid.html">the drinking mermaid</a></li>
    </ul>
{% endblock %}
