{% extends "dnd/abstract/place.html" %}

{% block title %}Harbor Slums{% endblock %}
{% block summary %}Home to mostly human dock workers. They hate Elfs and Locathah.{% endblock %}

{% block events %}
    <p>Inside the inn</p>
    <ul>
        <li>When looking like Elves the party gets told to go somewhere else.</li>
        <li>If they've seen them come from Locathah side there is another reason to refuse them.</li>
    </ul>
{% endblock %}

{% block locations %}
    <p>From here adventurers can visit</p>
    <ul>
        <li>Walk towards the docks for <a href="../trade-district/church-of-Waukeen.html">Waukeen church</a></li>
        <li>Walk towards the sea for <a href="fisher-boats.html">fisher boats</a></li>
        <li>Against the cliff face there is a small <a href="prison.html">prison</a></li>
    </ul>

    <p>
        A lot of people live here. A little less cramped than in the caves, but still small quarters and poor.
        An inn is the only noticeable place here.
    </p>

    <p>View</p>
    <ul>
        <li>The docks</li>
        <li>Massive building with a huge round window showing a face enprofile in glass and lead (see ReligionDC)</li>
        <li>Walls with a tower on sea side and some kind of fortress in the middle of the bay</li>
        <li>Behind the ships the whole bank consists of noble houses. The ones closer to the water are smaller.</li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>There are 12 level 3 <a href="http://dndsrd.net/npcClasses.html#table-the-warrior">warriors</a> in the inn.</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>ReligionDC:</dt>
        <dd> 10 >= The emblem on the building at the base of the harbor is the Waukeen emblem</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}