{% extends "dnd/abstract/place.html" %}

{% block title %}Harbor Slums{% endblock %}
{% block summary %}Home to mostly human dock workers. They hate Elfs and Locathah.{% endblock %}

{% block events %}
    <p>Inside the inn</p>
    <ul>
        <li>When looking like Elves the party gets told to go somewhere else.</li>
        <li>If they've seen them come from Locathah side there is another reason to refuse them.</li>
    </ul>
{% endblock %}

{% block locations %}
    <p><b>
        A very poor part of the city. The houses were once constructed fairly well,
        but due to the lack of maintenance the houses look shabby.
        Trash from unloading ships lies around everywhere. There is also a faint smell of rotting fish.
    </b></p>

    <p>From here adventurers can visit (tell about the view)</p>
    <ul>
        <li>Walk towards the docks for <a href="../trade-district/temple-of-Waukeen.html">Waukeen temple</a></li>
        <li>Walk towards the sea for <a href="fisher-boats.html">fisher boats</a></li>
        <li>Against the cliff face there is a small <a href="prison.html">prison</a></li>
    </ul>

    <p>
        A lot of people live here. A little less cramped than in the caves, but still small quarters and poor.
        An inn called The Smiling Fish is the only noticeable place here.
    </p>

{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>There are 12 level 3 <a href="http://dndsrd.net/npcClasses.html#table-the-warrior">warriors</a> in the inn.</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>Full of Elven haters</p>
{% endblock %}

{% block knowledges %}
    <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}