{% extends "dnd/abstract/place.html" %}

{% block title %}Prison{% endblock %}
{% block summary %}Adventurers may end up here when fighting guards or something.{% endblock %}

{% block events %}
    <p>On entry</p>
    <ul>
        <li>Equipment is taken away. Perhaps there is a hidden dagger?</li>
        <li>Equipment gets stored with alarm spell</li>
        <li>Kadunkle needs to wear a shackles of silence</li>
    </ul>
    <p>With some regularity</p>
    <ul>
        <li>Food is given by a guard</li>
        <li>Unseen servants clean the cells</li>
        <li>Prisoners are taken out in pairs to courtyard</li>
    </ul>

    <p>Suggestions for escape</p>
    <ul>
        <li>Kill the guard that comes to bring the food and steal his keys.</li>
        <li>Pickpocket the wizard, make everybody invisible and pretend to be one of them.</li>
    </ul>
{% endblock %}

{% block locations %}
    <p>The prison consists of a few rooms</p>
    <ul>
        <li>There is a small walled courtyard (5x3) which is guarded.</li>
        <li>There is a cave entrance that leads down to a carved out hallway.</li>
        <li>At the beginning of that hall there is a guard post.</li>
        <li>Prisons are left and right, mostly filled with drunk sailors.</li>
        <li>At the end of the hallway there is a room that holds gear.</li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>The garrison guarding the prison consists of</p>
    <ul>
        <li>10 level 6 <a href="http://dndsrd.net/fighter.html">fighters</a></li>
        <li>1 level 6 <a href="http://dndsrd.net/paladin.html">paladin</a></li>
        <li>1 level 6 <a href="http://dndsrd.net/wizard.html">mage</a></li>
    </ul>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}