{% extends "dnd/abstract/place.html" %}

{% block title %}Sea water slums{% endblock %}
{% block summary %}These slums are home to full breed Locathah only.{% endblock %}

{% block events %}
    <p>Night time smuggeling</p>
{% endblock %}

{% block locations %}
    <p><b>
        These slums are home to full breed Locathah only. It sits below the <a href="breakers-slums.html">breakers slums</a>,
        but also the <a href="slums-market.html">slums market</a> and even all the way up to <a href="harbor-slums.html">harbor slums</a>
    </b></p>

    <p>Neighbooring area's</p>
    <ul>
        <li>One can enter the harbor waters by one of the horizontal exists</li>
        <li>There is a vertical exit to <a href="breakers-slums.html">Breakers Slums</a></li>
    </ul>
    <h4>Secret tunneling</h4>

    <p>
        <a href="../../../characters/Thekesh-Moltabar+naieve-entrepeneur.html">Thekesh (Moltabar)</a>
        runs a secret route from the sea, through the sea water slums, into a shack in <a href="breakers-slums.html">breaker slums</a>.
        The list below describes all chambers on this route from sea to breaker slums.
    </p>
    <ol>
        <li>Entrance from the (turbulent) sea initially only reveals what seems like a small abandoned cave.</li>
        <li>A secret door (SearchDC30) reveals a man made tunnel</li>
        <li>This tunnel leads to an area where three Locathah hold guard</li>
        <li>The next chamber has a ceiling that is filled up with mithral at night (SpotDC10)</li>
        <li>A very narrow natural burrow leads to another chamber</li>
        <li>The ceiling of this chamber is filled with dead fish at night. The burrow is hidden (SearchDC30)</li>
        <li>The ceiling of this chamber has a hatch into one of the homes in <a href="breakers-slums.html">breakers slums</a></li>
        <li>The home is nothing but a shack. Nobody lives there, but boxes with dead fish get stored there and 3x Locathah hold guard.</li>
    </ol>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>treacherous current!</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}
