{% extends "dnd/abstract/place.html" %}

{% block todo %}{% endblock %}

{% block locations %}
    <p>Places of interest in this area</p>
    <ul>
        <li>Secret entrance into one of the homes in <a href="cave-slums.html">cave slums</a></li>
    </ul>
    <p>Neighbooring area's</p>
    <ul>
        <li>One can enter the harbor waters by one of the horizontal exists</li>
        <li>There is a vertical exit to <a href="breakers-slums.html">Breakers Slums</a></li>
    </ul>
{% endblock %}

{% block events %}

    <p>Nightfall (smuggling!)</p>


{% endblock %}

{% block traps %}
    <p>treacherous current!</p>
{% endblock %}