{% extends "dnd/abstract/place.html" %}

{% block title %}Cave Market{% endblock %}
{% block summary %}The cave market is a central meeting place for the humans and Locathah living in the slums as secondary citizens{% endblock %}

{% block locations %}
    <p>Places of interest in this area</p>
    <ol>
        <li>Clothing</li>
        <li>Blacksmith, Talos devotee, (sells up to masterwork -> 5gp)</li>
        <li>Brewery, partly scorned by Mirika attack</li>
        <li>Sea weeds, Druid, (CLW -> 1sp, CMW -> 5sp, CSW -> 2gp)</li>
        <li>Gear and tools -> cp prices</li>
        <li>Entertainment</li>
    </ol>
    <p>Neighbooring area's</p>
    <ul>
        <li>A tucked away shrine with secret entrance (SearchDC25) to <a href="temple-of-Talos.html">temple of Talos</a></li>
        <li>In the back of brewery a stinking passage (FortDC12: nauseated, see BreathDC) to <a href="cave-slums.html">cave slums</a></li>
        <li>Towards the light, outside to <a href="fisher-boats.html">fisher boats</a></li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>
        Bring Mirika to Lokahmee or Lokahmee to Mirika. If she is still insane at that point,
        Lokahmee will cure her with a wish and after a talk Lokahmee's love for Denise will be broken.
    </p>
{% endblock %}

{% block creatures %}

    <h4><a href="../../../characters/Mirika+insane-half-elf.html">Mirika</a> - insane half-elf girl</h4>
    <p>Roll random on locations to determine whereabouts.</p>
    <dl class="dc">
        <dt>WisdomDC:</dt>
        <dd> 17 >= wears insignia of Lokahmee</dd>
        <dd> 12 >= insignia look familiar</dd>
    </dl>
    <dl class="dc">
       <dt>KnowledgeLocalDC:</dt>
       <dd> 14 >= Clothing seem noble elven from Dalelands</dd>
    </dl>

    <h4><a href="../../../characters/Sorakesh+blacksmith.html">Sorakesh</a> - blacksmith (Talos devotee)</h4>
    <p>A strong guy who makes more than fishing spears as a hobby</p>

    <h4><a href="../../../characters/Nimry+sea-weed-lady.html">Nimry</a> - sea weed lady</h4>
    <p>
        An old woman schooled in the powers of sea weeds.
        Can help with sleeping problems and has quest to defeat Aboleth
    </p>

    <h4><a href="../../../characters/Thekesh-Moltabar+naieve-entrepeneur.html">Thekesh</a> - the brewery owner</h4>
    <p>
        He ownes the brewery, but also a fish stand on the food market as his alter ego Moltabar.
        He secretly smuggles goods past Waukeen temple.
    </p>

{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>These conditions apply once a day that they enter this area until the adventurers really go all the way.</p>

    <dl class="dc">
       <dt>EatDC: 13</dt>
       <dd>Can't resist to buy 2lb. of fish, without bargaining for 1sp</dd>
    </dl>
    <dl class="dc">
       <dt>DrinkDC: 13</dt>
       <dd>Can't resist to drink 3 pints for 1sp</dd>
    </dl>
    <dl class="dc">
       <dt>BreathDC: 15</dt>
       <dd>Can't go through passage to <a href="cave-slums.html">cave slums</a></dd>
    </dl>
    <dl class="dc">
       <dt>SexDC: 15</dt>
       <dd>Can't resist to inform for brothels</dd>
    </dl>

    <p>
        Here is a list of ways to "go all the way".
        Adventurers may pick up on these after a second time they fail their safe.
    </p>
    <ul>
        <li>Breath: stand to breath the sea air at <a href="breakers-slums.html">breaker slums</a> for an hour</li>
        <li>Eat: eat a fish prepared by <a href="../../../characters/Otalan+delicious-fish-merchant.html">Otalan</a>.</li>
        <li>Drink: get drunk in master brewery at <a href="../trade-district/the-gildes.html">the gildes</a>.</li>
        <li>
            Sex: Visit brothel at
            <a href="../trade-district/harbor/the-oceans-night+pleasure-house.html">The Oceans Night</a>.
        </li>
        <li>
            Sleep: Become exhausted once or drink potion from
            <a href="../../../characters/Nimry+sea-weed-lady.html">Nimry</a>
        </li>
    </ul>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>GatherInformationDC: (drunk bonus -4)</dt>
        <dd> 6 >= The men drinking are complaining about the little they earn with fish</dd>
        <dd>
            10 >= The men say that it is all <a href="../../../characters/Thekesh-Moltabar+naieve-entrepeneur.html">Moltabar's</a>
            fault and that they wish they worked for <a href="../../../characters/Otalan+delicious-fish-merchant.html">Otalan</a>
        </dd>
        <dd>
            14 >= The men drinking earn some money on the side at night for their saviour and bar owner
            <a href="../../../characters/Thekesh-Moltabar+naieve-entrepeneur.html">Thekesh</a>
        </dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}
