{% extends "dnd/abstract/place.html" %}

{% block title %}Temple of Talos{% endblock %}
{% block summary %}Secret temple in Yauhnn for the God of Destruction.{% endblock %}

{% block events %}
    <p>When entering for the first time (through temple of Valkur), roll initiative and draw out the following situation.</p>
    <ol>
        <li>Adventures enter through curtains to a bigger cave.</li>
        <li>Two half-Locathah are in a bloody fist fight right in front of their noses.</li>
        <li>Many Locathah and half Locathah are watching the fight</li>
        <li><a href="../../../characters/Janala+talos-oracle.html">A female cleric</a> also stands on the altar and recognizes the adventurers as figures from the prophecy</li>
        <li>Everybody drops to their knees in worship</li>
    </ol>

    <p>After this a talk with <a href="../../../characters/Janala+talos-oracle.html">Janala</a> follows.</p>
    <ol>
        <li>All wounds and taint is taken care off by <a href="../../../characters/Janala+talos-oracle.html">Janala</a></li>
        <li>The entire slums are there to help.</li>
        <li>As an Oracle of Talos she also offers any kind of service that you may need (dirty -> WillDC).</li>
        <li>When you are rested tomorrow come and talk to her again in this temple.</li>
    </ol>
{% endblock %}

{% block locations %}
    <p><b>
        This big cave is full of decorations hinting at Talos.
        On one side there is a slight elevation in the rocks.
        This is used as an altar to the God of Destruction.
    </b></p>

    <p>From here adventurers can go to:</p>
    <ul>
        <li>The stairs behind the curtains on the alter leading to <a href="temple-of-Valkur.html">temple of Valkur</a></li>
        <li>A small pathway in the back of the cave leads to <a href="slums-market.html">slums market</a></li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>
        When entering first time proceed with
        <a href="../../../obstacles/03-first-day-in-Yauhnn/00-exploring-the-city.html">exploring the city</a>
    </p>
    <p>When entering the second time offer handout: 07-All-Janala's-request.odt</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}




