{% extends "dnd/abstract/place.html" %}

{% block title %}Temple of Valkur{% endblock %}
{% block summary %}Lighthouse that acts as a temple for sailors.{% endblock %}

{% block events %}
    <p>
        When knocking on the hatch to first floor a sleepy cleric opens.
        He is startled by their appearance. Scared, but will realize that party isn't doing anything.
        Once inside the cleric is trying to help, but can't really.
        He is hesitant to say that he knows somebody who can.
    </p>
    <p>
        You can go to a secret door behind the altar. It leads into a cave passage.
        When you move away the curtain at the end of the passage you walk unto another alter.
        However here the <a href="temple-of-Talos.html">temple</a> is full.
    </p>
{% endblock %}

{% block locations %}
    <p><b>
        The door to this lighthouse is open. Inside you see a few benches and an alter.
        To the right there are stairs leading up to the next floor.
    </b></p>

    <p>The lighthouse/temple consists of</p>
    <ul>
        <li>Ground floor a place for prayer (always open).</li>
        <li>First floor a place for healing (closed at night).</li>
        <li>Second floor. The clerics private chambers</li>
    </ul>

    <p>From here:</p>
    <ul>
        <li>Secret door (SearchDC 25) behind alter to <a href="temple-of-Talos.html">temple of Talos</a></li>
        <li>Stairs down the cliff to <a href="cave-slums.html">cave slums</a></li>
    </ul>
{% endblock %}

{% block creatures %}
    <p>A cleric of Valkur named <a href="../../../characters/Mehsan+Valkur-cleric.html">Mehsan</a></p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>GatherDC: (Valkur, when appropriate at this time)</dt>
        <dd>10 >= God of good winds. Mostly prayed to by sailors. Temples often function as lighthouses.</dd>
        <dd>15 >= A lesser God that is not very important in the pantheon. Often thought to be a pawn of greater Gods.</dd>
        <dd>25 >= Rumored to be aligned with Talos god of storms.</dd>
    </dl>
{% endblock %}
