{% extends "dnd/abstract/place.html" %}

{% block title %}The Horrid Lust (pirate inn){% endblock %}
{% block summary %}A boat that lies just outside the harbor, where different laws count.{% endblock %}

{% block events %}
    <p>An old sailor shouts who is there and asks to be left in peace. He lowers a ladder when you say the password.</p>
    <p>When entering the main area with the bow of speed a hot headed barbarian will try to get it back together with his comrades.</p>
    <p>When party defeats the group the dread pirate is impressed and asks if they'd be interested in a job.</p>
{% endblock %}

{% block locations %}
    <p><b>
        The ship looks neglected. Sea weed has grown up to the bough.
        It sails have started to mould. You wonder when it will sink.
    </b></p>
    <p>
        The deck is a big mess of old stuff.
        From the inside the boat looks a lot better.
        It is clean and well preserved.
        A stairs leads to one big room where the cargo used to be.
        It is turned into a rather luxurious inn.
    </p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>A 10th level barbarian, rogue, cleric and sorcerer</p>
    <p>A 15th level dread pirate and comrades</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}