{% extends "dnd/abstract/base.html" %}

{% block todo %}
    <p>From this point Lokahmee is onto the right track to steal Hanuman's soul.</p>
    <p>The party has one week to break Lokahmee's heart and prevent Olivet's master plan for his device</p>
    <p>Rafana has a grip on Lokahmee in the following way</p>
    <ul>
        <li>She has a permanent charm on him, that makes him perceive her words in the best way.</li>
        <li>He wears a cursed item that brings his will save back to +0</li>
        <li>She gave him a set of false memories</li>
    </ul>
    <p>Following is a list of things that Lokahmee beliefs due to the presence of charms</p>
    <ul>
        <li>The necklace I'm wearing is a sign for our love (in truth it is the cursed item that trumps his will)</li>
        <li>The device I'm working on is my wedding gift to Rafana</li>
        <li>I'm posing as mayor to protect my family in law from merchant wolfs</li>
    </ul>
    <p>This is the set of fake memories</p>
    <ul>
        <li>
            My daughter is angry at me and never wants to see me again.
            In truth she went insane in front of his eyes when she was picking him up to go back home
        </li>
        <li>
            Thinks he put on his normal contingency spell,
            but instead has a contingency spell on that will transport him to the Pink Tree
        </li>
        <li>We regularly have amazing sex (in truth nothing ever happened)</li>
    </ul>
    <p>Below is a list of ways to break his love</p>
    <ul>
        <li>Break enchantment spell could cancel any charms</li>
        <li>
            Making him talk to Mirika (his daugther) could talk some sense into him.
            He basically does anything she tells him to (meet me at X for instance)
        </li>
        <li>
            Putting him into a nullify psionics field will break charms and make him remember correctly IF reminded
        </li>
    </ul>
    <p>
        Unless they do amazingly well, they will not find the teleport contingency,
        that Rafana put into place as a precaution after the first time she almost lost him.
        If they don't then Lokahmee will get transported to Big Ant Island as soon as the necklace comes off
    </p>
{% endblock %}