{% extends "dnd/abstract/place.html" %}

{% block title %}The Harbor{% endblock %}
{% block summary %}Various places available from here, but most need to be known before you can go there.{% endblock %}

{% block events %}
    <p>
        Entering the harbor when first visiting Yauhnn at night may raise eyebrows of galley guards.
        Unless they look reliable the guards are not allowing them to go to the markets.
    </p>
{% endblock %}

{% block locations %}
    <p>
        The harbor as a place does not hold a lot of interesting sights.
        You can get to <a href="church-of-Waukeen.html">church of Waukeen</a> from here.
    </p>

    <p>
        There are numerous ships in the harbor.
        None of the ships below can be visited unless party is searching for them.
    </p>
    <ul>
        <li><a href="Riebelfant-galley.html">Riebelfant galley</a></li>
        <li><a href="the-oceans-night+pleasure-house.html">The Ocean's Night</a></li>
        <li><a href="the-red-wave+elite-pirates-galley.html">The Red Wave</a></li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}