{% extends "dnd/abstract/place.html" %}

{% block title %}The Harbor{% endblock %}
{% block summary %}Various places available from here, but most need to be known before you can go there.{% endblock %}

{% block events %}
    <p>
        Entering the harbor when first visiting Yauhnn at night may raise eyebrows of galley guards.
        Unless they look reliable the guards are not allowing them to go to the markets.
    </p>
{% endblock %}

{% block locations %}
    <p><b>
        Many ships lie in the harbor on different piers.
        In the middle of the harbor a big building rises. It seems to hold the resemblance of a woman in lead and glass.
    </b></p>

    <p>
        The harbor as a place does not hold a lot of interesting sights.
        You can get to <a href="../temple-of-Waukeen.html">temple of Waukeen</a> from here.
    </p>

    <p>
        There are numerous ships in the harbor.
        None of the ships below can be visited unless party is searching for them.
        Roll random to see what they find and see what they will make of it.
    </p>
    <ol>
        <li><a href="Riebelfant-galley.html">Riebelfant galley</a></li>
        <li><a href="the-oceans-night+pleasure-house.html">The Ocean's Night</a></li>
        <li><a href="the-red-wave+elite-pirates-galley.html">The Red Wave</a></li>
        <li>Random galley with people patrolling the deck (use Riebelfant galley as base).</li>
        <li>Smaller sailing boat where two people are making out on the deck.</li>
        <li>Nothing of interest is found.</li>
    </ol>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>Full of Elven haters</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}