{% extends "dnd/abstract/place.html" %}

{% block title %}City Center{% endblock %}
{% block summary %}District consisting mostly of common houses and some nice places to spend coin.{% endblock %}

{% block events %}
    <p>
        When the city is starting to wake up and the adventurers are strolling around to see what Yauhnn has to offer.
        Somebody bumps into <a href="../../../characters/Dralen+magic-shop-keeper.html">Dralen</a>.
        He sneers at the person, but quickly makes his move into the crowd.
        He walks as if he is heading somewhere and it's not to simply have a good time.
    </p>

    <p>
        If they stay inside an inn until closing time, somebody they have been talking too asks if they have interest in a little gamble with booze.
        If so he takes them to <a href="harbor/the-oceans-night+pleasure-house.html">Ocean's Night</a>
    </p>
{% endblock %}

{% block locations %}
    <p><b>
        There are also loads and loads of small places to eat and drink in this area. Some of them have great views over the sea.
    </b></p>

    <p>Main places of interest:</p>
    <ul>
        <li>The best fish restaurant in town. (owned by <a href="../../../characters/Otalan+food-and-drink-merchant.html">Otalan</a>)</li>
        <li>A master brewery (also owned by <a href="../../../characters/Otalan+food-and-drink-merchant.html">Otalan</a>)</li>
        <li>The Rolling Coin</li>
    </ul>

    <p>
        There is one inn that is quite famous called The Rolling Coin
        It is the place for people from outside the city to stay, because their mounts will be taken care of and the good night life of the city.
        Some of the best bards in the world play here.
    </p>

    <p>From here adventurers can:</p>
    <ul>
        <li>Go to <a href="big-market">big market</a></li>
        <li>Go up the ramp to <a href="../residence-district/south-side-nobles.html">South side nobles</a></li>
        <li>Go south to <a href="food-market.html">food market</a></li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>If they frisk <a href="../../../characters/Mirika+insane-half-elf.html">Mirika</a> they find the keys to a room in this inn. Her stuff was stored by the inn owner.</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>LocalDC:</dt>
        <dd>15 >= <a href="../../../characters/Otalan+food-and-drink-merchant.html">Otalan Hichek</a> owns most of the nightlife.</dd>
    </dl>
    <dl class="dc">
        <dt>SenseMotiveDC:</dt>
        <dd>15 <= D: The cargo has arrived. It was brought by The Flat Wave. M: I'll be sure to pick it up at 2 tonight.</dd>
        <dd>16 >= Hard to make anything out with all the crowd</dd>
        <dd>
            20 >= D: The cargo has arrived. It was brought by <a href="harbor/the-red-wave+elite-pirates-galley.html">The Red Wave</a>.
            M: We'll be sure to pick it up at 2 tonight.
        </dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>Frisked Mirika and asked inn keep about the key -> handout 11-Mirikas-endeavor.odt</p>
    <p>Both the buildings and the caves are used for storage.</p>
{% endblock %}
