{% extends "dnd/abstract/place.html" %}

{% block title %}City Center{% endblock %}
{% block summary %}District consisting mostly of common houses and some nice places to spend coin.{% endblock %}
{% block todo %}add achievement for frisking Mirika{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p><b>
        There are also loads and loads of small places to eat and drink in this area. Some of them have great views over the sea.
    </b></p>

    <p>Main places of interest:</p>
    <ul>
        <li>The best fish restaurant in town. (owned by <a href="../../../characters/Otalan+food-and-drink-merchant.html">Otalan</a>)</li>
        <li>A master brewery (also owned by <a href="../../../characters/Otalan+food-and-drink-merchant.html">Otalan</a>)</li>
        <li>The Rolling Coin</li>
    </ul>

    <p>
        There is one inn that is quite famous called The Rolling Coin
        It is the place for people from outside the city to stay, because their mounts will be taken care of and the good night life of the city.
        Some of the best bards in the world play here.
        If they frisk <a href="../../../characters/Mirika+insane-half-elf.html">Mirika</a> they find the keys to a room in this inn. Her stuff was stored by the inn owner.
    </p>

    <p>From here adventurers can:</p>
    <ul>
        <li>Go to <a href="big-market">big market</a></li>
        <li>Go up the ramp to <a href="../residence-district/south-side-nobles.html">South side nobles</a></li>
        <li>Go south to <a href="food-market.html">food market</a></li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>LocalDC:</dt>
        <dd>15 >= <a href="../../../characters/Otalan+food-and-drink-merchant.html">Otalan Hichek</a> owns most of the nightlife.</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>Both the buildings and the caves are used for storage.</p>
{% endblock %}
