{% extends "dnd/abstract/place.html" %}

{% block title %}Food market{% endblock %}
{% block summary %}Area centered around trade of food.{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p><b>
        This area is filled mostly with warehouses for food and stables for travelers coming to visit the town.
        The area is named after a food market, where farmers often come to sell their goods.
    </b></p>

    <p>Main places of interest here:</p>
    <ul>
        <li>Food market</li>
        <li>Rangers guild (lots of rumors about Big Ant Island and Rafana)</li>
        <li>Messengers guild</li>
    </ul>

    <p>From here adventurers can:</p>
    <ul>
        <li>Head right into <a href="city-center.html">city center</a></li>
        <li>Go up the ramp to <a href="poor-mans-gate.html">poor mans gate</a></li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>LocalDC:</dt>
        <dd>10 >= <a href="../../../characters/Taduan+hulorn-animal-merchant.html">Taduan</a> is the current hulorn</dd>
        <dd>15 >= <a href="../../../characters/Taduan+hulorn-animal-merchant.html">Taduan Kaler</a> owns a lot of stables and is by far biggest cattle merchant in the area.</dd>
        <dd>15 >= <a href="../../../characters/Otalan+food-and-drink-merchant.html">Otalan Hichek</a> is a big player on the food market.</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>Both the buildings and the caves are used for storage.</p>
{% endblock %}