{% extends "dnd/abstract/place.html" %} {# TODO: update #}

{% block title %}Poor Mans Gate{% endblock %}
{% block summary %}Entrance to the city mostly used by farmers and the less wealthy.{% endblock %}
{% block todo %}people trying to get people to come to the city center{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>no locations</p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}