{% extends "dnd/abstract/place.html" %}

{% block title %}The Gilds{% endblock %}
{% block summary %}District consisting for some part of warehouses, but is known for the gilds.{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p><b>
        On the other side of the big market than the <a href="city-center.html">city center</a> and less "touristic".
        It is a residential area, but also has some influential gilds.
    </b></p>

    <p>Apart from the warehouses this area harbors most gilds:</p>
    <ul>
        <li>Traders gild</li>
        <li>Wood workers gild</li>
        <li>Carpenter gild</li>
        <li>Smiths gild</li>
        <li>Miners gild</li>
    </ul>

    <p>Some other venues:</p>
    <ul>
        <li>There is an inn where lots of artisans and merchants come together. Elves pay double there, because there are quite a few lumberjacks with bad experiences.</li>
        <li>Illegal gamble house</li>
    </ul>

    <p>From here adventurers can:</p>
    <ul>
        <li>Go to <a href="big-market">big market</a></li>
        <li>Or the other way to <a href="the-goods.html">the goods</a></li>
        <li>Go up the ramp to <a href="../residence-district/north-side-nobles.html">North side nobles</a></li>
        <li>Go down the ramp to <a href="../residence-district/dock-nobles.html">the dock nobles</a></li>
        <li>Or down the ramp to <a href="harbor/index.html">the harbor</a></li>
        <li>Go into <a href="mining-entrance.html">the mining entrance</a></li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>GatherDC: (miners guild)</dt>
        <dd>
            20 >= Some miners are not happy about the closure of the relatively new north-west tunnel.
            They think some treasure is kept from them by <a href="../../../characters/Dragbar+metal-merchant.html">Dragbar</a>
        </dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>The caves in this area are used for storage of goods that are about to be sold on the market.</p>
{% endblock %}
