{% extends "dnd/abstract/place.html" %}

{% block title %}Traders Guild{% endblock %}
{% block summary %}A luxurious guild for all merchants. Stock is "exchanged" here.{% endblock %}
{% block todo %}Make selling pitch for Falok. What is in the offices? Lawyer work?{% endblock %}

{% block events %}
    <p>If adventurers hang around long enough on ground floor following events take place.</p>
    <ul>
        <li><a href="../../../characters/Falok+stock-merchant.html">Falok</a> the stock merchant approaches rich looking adventurer.</li>
        <li>He makes an offer to sell the adventurers Global Convoy stock.</li>
        <li>This investment will make you money without working yourself!</li>
        <li>Just let the Faerun Trade Group do all the lifting.</li>
        <li>If they want to invest seriously he is prepared to give more information.</li>
    </ul>
    <p>
        If adventurers come up with a serious investment a contract gets created in which the adventurers promise non-disclosure.
        The contract also binds the Faerun Trade Group to share the profits made through the Global Convoy project
        and the adventurers to pay a sum in gold.
    </p>
    <ul>
        <li>He tells that Faerun Trade Group are working on a brilliant plan.</li>
        <li>You know about the import tax that Cormyr raises</li>
        <li>Imagine that you can dive that tax and cut on transportation cost.</li>
        <li>Your profit will hit the roof!</li>
        <li>With a revolutionary Golem the FTG is planning to teleport huge amounts of goods past custody at low cost.</li>
        <li>Goods are stored everywhere awaiting teleportation. Even in slums!</li>
    </ul>
{% endblock %}

{% block locations %}
    <p><b>
        The traders guild consists of two floors.
        The ground floor is one big room where people seem to make agreements and exchange papers constantly.
        The first floor is closed to the public.
    </b></p>

    <p>
        On the first floor are offices. They contains administration about guild members.
        And also hold copies of many big contracts made between merchants as a security measure against fire.
        After three days you figure out that the FTG has a lot of investors in the Global Convoy project,
        but so far little people have actually seen profit.
    </p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>
        If you pass a LawyerDC15. You are hired to look into disputes that concern contracts that the Traders Guild is storing.
        Your salary is 500gp a day.
    </p>
{% endblock %}
