{% extends "dnd/abstract/place.html" %} {# TODO: update #}

{% block title %}No title{% endblock %}
{% block summary %}No summary{% endblock %}
{% block todo %}statue of donkey, house of Wehna and Harar, FTG headquarters, accountants agency, ruined FTG investor{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>no locations</p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <h4>Stealing</h4>
    <p>
        It is feasible to make a profit out of robbing some of the nobles here.
        In one night a rogue can make 1d20 * 300 in an evening in this area.
    </p>
    <p>
        Stealing is never without risks and every night there is probably an incident where the rogue almost gets caught.
        After stealing 10.000 euro in the city there starts to a lot more awareness.
        Per 10.000 gp there is a +10% change that a night goes horribly wrong and the rogue gets caught successfully.
    </p>
    <h4>Counterfeiting</h4>
    <p>
        As an illusionist it is possible to counterfeit the fake currency that they have in Sembia.
        Every amount spend below 2000 is safe. Money above 2000 will be checked and casters need to succeed on SpellcraftDC30 to pass a casual test.
        After counterfeiting 10.000 euro there is a higher change of a thorough investigation that surely fails unless epic magic is involved.
        Per 10.000 gp there is a +10% change that money used in a transaction is fake.
    </p>
{% endblock %}