{% extends "dnd/abstract/place.html" %} {# TODO: update #}

{% block title %}No title{% endblock %}
{% block summary %}No summary{% endblock %}
{% block todo %}earn 750 a day as illusionist, mad preacher{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>This area should breath the atmosphere of Almere.</p>

    <p>From here adventurers can go to:</p>
    <ul>
        <li>Inside the city through <a href="../trade-district/poor-mans-gate.html">poor mans gate</a>.</li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}