{% extends "dnd/abstract/place.html" %}

{% block title %}South Side Nobles{% endblock %}
{% block summary %}An area where upcoming merchants have their house{% endblock %}

{% block events %}
    <p>
        During the morning two drunk men stroll the streets.
        As soon as they notice the adventurers they try to make contact and see if they have any beer.
        When asked one man indicates they came from the Ocean's Pleasure, where else, upon which the other hushes him,
        as "it doesn't exist".
    </p>
{% endblock %}

{% block locations %}
    <p><b>
        Although this part of the city is not very sunny for most of the day. You wouldn't mind living here as it is clearly a better part.
        You see more apartments than big houses, but the buildings are sturdy and far away from the smell of the slums and harbor.
        On the streets you see a lot of young merchants, that all seem to have a taste for fashion and especially exorbitant jewels.
        The most luxurious inn in town called "The Golden Deal" is situated in this part of the city.
    </b></p>

    <p>It is hard to distinguish one house from another and locations below can't be reached unless they know they want to go there.</p>

    <ul>
        <li>The apartment of <a href="../../../characters/Thekesh-Moltabar+naieve-entrepeneur.html">Morabar</a></li>
        <li>The apartment of <a href="../../../characters/Rafana+lady-of-the-pink-tree.html">Rafana</a></li>
        <li><a href="../../../characters/Pomin+gnome-cormyr-spy.html">Pomin's</a> apartment</li>
        <li>Apartment of the librarian called <a href="../../../characters/Berdo+Librarian.html">Berdo</a></li>
    </ul>

    <p>From here adventurers can go to:</p>
    <ul>
        <li>Down the ramp past the market to <a href="../trade-district/city-center.html">City center</a></li>
        <li>Across the walking bridges over <a href="../trade-district/big-market/index.html">the market</a> to <a href="south-side-nobles.html">south side nobles</a></li>
        <li><a href="../trade-district/poor-mans-gate.html">Poor mans gate</a></li>
        <li>South entrance of the <a href="../trade-district/big-market/index.html">big market</a></li>
        <li><a href="the-fort.html">The fort</a></li>
    </ul>

{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <p>There is a luxurious inn. If it is open the adventures can get some info with a bottle of fine wine (10gp)</p>
    <dl class="dc">
        <dt>GatherDC:</dt>
        <dd>10 >= Houses will loose their value if the poor are going to stink in their back yards. These plans have to stop.</dd>
        <dd>
            15 >= Global Convoy project is an excellent investment. The ROI is higher than anywhere else and the Faurun Trade Group is very reliable.
            Ask for it at the <a href="../trade-district/traders-guild.html">traders guild</a>.
        </dd>
        <dd>18 >= Waukeen is an important backer of the Global Convoy Project.</dd>
        <dd>20 >= The hulorn would do well to fear Waukeen a little bit more, before he allows the houses to devalue.</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>
        It is feasible to make a profit out of robbing some of the nobles here.
        In one night a rogue can make 1d20 * 200 in an evening in this area.
    </p>
    <p>
        Stealing is never without risks and every night there is probably an incident where the rogue almost gets caught.
        After stealing 10.000 euro in the city there starts to a lot more awareness.
        Per 10.000 gp there is a +10% change that a night goes horribly wrong and the rogue gets caught successfully.
    </p>
{% endblock %}