{% extends "dnd/abstract/game_character.html" %}
{% load staticfiles %}

{% block name %}Formian tainted warrior{% endblock %}
{% block summary %}Inhabitant of Big Ant Island. Mostly stay close to the Hive to defend it.{% endblock %}
{% block motivation %}
    <p>Defend the Hive and its interests at all cost until death.</p>
{% endblock %}
{% block story %}
    <p>
        All Formians on the island have been corrupted and deprived by the evil that Hanuman's pure good soul attracts.
        The parasitic Stirges are the most common form of evil on the island.
        Therefor the Formians have taken on traits of Stirges like sucking blood and they have grown wings.
        The queen is dead so they do not have a hive mind any more. Instead it is an everybody-for-themselves,
        with gruesome results.
        Next to this they are so close to the power of Hanuman's soul that part of its power tries to manifest in them.
        They gain a few of the destructive powers of Hanuman's soul.
    </p>
{% endblock %}
{% block image %}
    <p><img src="{% static "pics/formian.jpg" %}" alt="formian"/></p>
{% endblock %}
{% block stats %}
    {% include "dnd/concrete/monsters/stats/tainted-warrior.html" %}
{% endblock %}