{% extends "dnd/abstract/stats.html" %}

{% block todo %}Spell list, feats, skills, gear{% endblock %}

{% block hit-dice %}119 (11) -> Cleric (5) + Divine Oracle (6) -> Complete Divine p.34{% endblock %}
{% block initiative %}0{% endblock %}
{% block speed %}30{% endblock %}
{% block ac %}10{% endblock %}
{% block attacks %}+8{% endblock %}
{% block damage %}1d6+2{% endblock %}
{% block face-reach %}5ft.{% endblock %}
{% block special-attacks %}Rebuke undead {% endblock %}
{% block special-qualities %}Trap sense +2, Evasian (aka Prescient Sense), Divination enhancement, Uncanny Dodge, Improved Uncanny Dodge{% endblock %}
{% block spell-like-abilities %}11th level cleric{% endblock %}
{% block saves %}
    <ul>
        <li>Fort 5</li>
        <li>Ref 2</li>
        <li>Will 8</li>
    </ul>
{% endblock %}
{% block abilities %}
    <ul>
        <li>Str 14</li>
        <li>Dex 10</li>
        <li>Con 16</li>
        <li>Int 14</li>
        <li>Wis 22</li>
        <li>Cha 14</li>
    </ul>
{% endblock %}
{% block skills %}Knowledge religion: 11{% endblock %}
{% block feats %}Skill focus(religion), 4{% endblock %}
{% block grapple %}{% endblock %}
{% block gear %}Shortspear +1{% endblock %}

{% block descriptions %}
    <h4>Oracle</h4>
    <p>
        She's an expert with the following spells.
    </p>

    <ul>
        <li><a href="http://dndsrd.net/spellsHtoL.html#identify">identify</a></li>
        <li><a href="http://dndsrd.net/spellsAtoB.html#augury">augury</a></li>
        <li><a href="http://dndsrd.net/spellsDtoE.html#divination">divination</a></li>
        <li><a href="http://dndsrd.net/spellsS.html#scrying">scrying</a></li>
        <li><a href="http://dndsrd.net/spellsC.html#commune">commune</a></li>
        <li><a href="http://dndsrd.net/spellsHtoL.html#legend-lore">legend lore</a></li>
    </ul>


{% endblock %}