{% extends "dnd/abstract/stats.html" %}

{% block todo %}Spell list, disarm, feats, skills, specials{% endblock %}

{% block hit-dice %}100 HP (10 HD) -> Church Inquisitor(6) -> Complete Divine p.26{% endblock %}
{% block initiative %}+2{% endblock %}
{% block speed %}30{% endblock %}
{% block ac %}15{% endblock %}
{% block attacks %}+9/+4{% endblock %}
{% block damage %}1d6+2{% endblock %}
{% block face-reach %}5ft.{% endblock %}
{% block special-attacks %}Force shapechange, turn undead{% endblock %}
{% block special-qualities %}Immune to charms, Pierce illusions, Pierce disguise, Immune to compulsions{% endblock %}
{% block spell-like-abilities %}{% endblock %}
{% block saves %}
    <ul>
        <li>Fort 8</li>
        <li>Ref 5</li>
        <li>Will 15</li>
    </ul>
{% endblock %}
{% block abilities %}
    <ul>
        <li>Str 12</li>
        <li>Dex 14</li>
        <li>Con 14</li>
        <li>Int 10</li>
        <li>Wis 18</li>
        <li>Cha 10</li>
    </ul>
{% endblock %}
{% block skills %}Spot (+4 disguise), Know(arcana) 4, Know(religion) 4, Spellcraft 4{% endblock %}
{% block feats %}Iron will, 4{% endblock %}
{% block grapple %}{% endblock %}
{% block gear %}Studded leather +2, Nunchanku +2{% endblock %}