{% extends "dnd/abstract/stats.html" %}

{% block hit-dice %}0{% endblock %}
{% block initiative %}+0{% endblock %}
{% block speed %}30{% endblock %}
{% block ac %}10 (t=10, ff=10){% endblock %}
{% block attacks %}+0{% endblock %}
{% block damage %}0{% endblock %}
{% block face-reach %}5ft.{% endblock %}
{% block special-attacks %}{% endblock %}
{% block special-qualities %}{% endblock %}
{% block spell-like-abilities %}{% endblock %}
{% block saves %}
    <ul>
        <li>Fort 0</li>
        <li>Ref 0</li>
        <li>Will 0</li>
    </ul>
{% endblock %}
{% block abilities %}
    <ul>
        <li>Str 10</li>
        <li>Dex 10</li>
        <li>Con 10</li>
        <li>Int 10</li>
        <li>Wis 10</li>
        <li>Cha 10</li>
    </ul>
{% endblock %}
{% block skills %}{% endblock %}
{% block feats %}{% endblock %}
{% block grapple %}{% endblock %}
{% block gear %}{% endblock %}