{% extends "dnd/abstract/stats.html" %}

{% block hit-dice %}5 (1HD){% endblock %}
{% block initiative %}+2{% endblock %}
{% block speed %}40 (fly 40 average){% endblock %}
{% block ac %}10{% endblock %}
{% block attacks %}+0{% endblock %}
{% block damage %}0{% endblock %}
{% block face-reach %}5ft.{% endblock %}
{% block special-attacks %}
    Improved grapple (pincers)
    Blood drain
    Poison
{% endblock %}
{% block special-qualities %}
    Light sensitivity, Lowlight vision (60ft),
    Resistance to electricity 10, fire 10, and sonic 10
    Immunity to poison, petrification and cold
{% endblock %}
{% block spell-like-abilities %}
    Hanuman soul's charge
{% endblock %}
{% block saves %}
    <ul>
        <li>Fort 0</li>
        <li>Ref 0</li>
        <li>Will 0</li>
    </ul>
{% endblock %}
{% block abilities %}
    <ul>
        <li>Str 10</li>
        <li>Dex 10</li>
        <li>Con 10</li>
        <li>Int 10</li>
        <li>Wis 10</li>
        <li>Cha 10</li>
    </ul>
{% endblock %}
{% block skills %}{% endblock %}
{% block feats %}{% endblock %}
{% block grapple %}+8{% endblock %}
{% block gear %}{% endblock %}

{% block descriptions %}
    <h4>Descriptions</h4>
    <dl>
        <dt>Hanuman soul's charge</dt>
        <dd>
            <p>
                Take a random spell from the list below.
                Creature can perform this spell Cha-score -10 times per day (minimum 1).
                Ability is at a HD spell level.
                Max spell is equal to Cha-score -10
            </p>
            <ol>
                <li>Ray of frost</li>
                <li>Electric jolt</li>
                <li>Magic missile</li>
                <li>Shocking grasp</li>
                <li>Ray of ice</li>
                <li>Scorching ray</li>
                <li>Fireball</li>
                <li>Rainbow blast</li>
                <li>Force missiles</li>
                <li>Shout</li>
            </ol>
        </dd>
        <dt>Improved grapple</dt>
        <dd><p>Tainted formians can grapple with +8 bonus when they bite or claw</p></dd>
        <dt>Blood drain</dt>
    <dd><p>When grappling tainted formians deal 1d4 Con damage at the beginning of their turn by sucking blood.</p></dd>
    </dl>
{% endblock %}