{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Return to Trippleton{% endblock %}
{% block summary %}Kadunkle's and Pomin's Practical joke.{% endblock %}

{% block misc %}
<p>Joost tells about his adventure before playing Kadunkle.</p>
{% endblock %}

{% block events %}
<ol>
    <li>When they arrive at the keep, the buttler says that Arrabar is here to see Alex.</li>
    <li>When you arrive in the hall it smells like brimestone.</li>
    <li>Butler suggests to look through the keyhole</li>
    <li>A man with a crown is sitting bored on the throne. He has two Ice Devils as guards.</li>
    <li>When party opens the door the king figure turns into a Belor and shouts there you are. I will teach you a lesson!</li>
    <li>Initiative and it teleports to behind the adventurers. It punishes a bunny. "Bad Bunny!"</li>
    <li>It turns out Kadunkle was behind this.</li>
    <li>Whole of the court is standing in the thrown room.</li>
    <li>Head of guard: should have seen your faces!</li>
    <li>Butler: I fainted!</li>
</ol>
{% endblock %}

{% block achievements %}
<p>After the joke and Joost's story proceed to <a href="01-events-so-far.html">events so far</a></p>
{% endblock %}

{% block locations %}
<p>Trippleton and the castle. No extra information.</p>
{% endblock %}