{% extends "dnd/abstract/base.html" %}

{% block content %}
<h3>Book 1: A Snake Invasion</h3>
<p>Events</p>
<ol>
    <li>Fell out of the hell into Faerun.</li>
    <li>Quest for mysterious disappearances of people and vicious snake attacks.</li>
    <li>Passed through underground Lizardvolk village.</li>
    <li>Passed through wood protected by Elves.</li>
    <li>Defeated Ekanz (an ancient Yuan-Ti tiran trying to get back into power).</li>
</ol>

<p>Side quests</p>
<ol>
    <li>As a side quest cleared a mine full of Grimlocks in old Gold Dwarven mine in Thunderpeak mountains</li>
    <li>Olivet Riebelfant said to pay for adventures services, but tricked them and robbed them when they were done</li>
</ol>

<p>Loose ends</p>
<ol>
    <li>Why did Olivet not simply rob the party? What is an abandoned Gold Dwarf mine good for?</li>
    <li>How is it going with the Elves and Gold Dwarves?</li>
</ol>

<h3>Book 2: A Noble Twist</h3>
<p>Events</p>
<ol>
    <li>Asked by lord of Reth to escort caravans which got robbed</li>
    <li>It turns out that Dralen an employee of Faurun Magic Shop ran by Olivet Riebelfant was robbing the caravans</li>
    <li>He sold the magic weapons to children who killed one of their own</li>
    <li>Dralen also conned the adventures in buying heavily over priced Stone To Flesh scroll</li>
    <li>Found a manual for Faerun Magic Shop, which gives insight into the organization</li>
</ol>

<p>Side quests</p>
<ol>
    <li>Freed the city of Ardjanela from Hill Giant attacks</li>
    <li>A cleric who thought to serve Eldath was a pawn in a scheme by Talos</li>
    <li>This scheme let to the destruction of the Tower of Lokahmee (an Elven whizard)</li>
    <li>With the destruction of the tower the people in the under city got a fair chance again to profit from the Mithrall source there</li>
    <li>You received a holy book from the church of Talos (God of Destruction) from the hands of Hanuman a small half-man/half-monkey</li>
    <li>The first page of this Book of Annihilation talks about how destruction can free people from the burdens and chains of institutions</li>
</ol>

<p>Loose ends</p>
<ol>
    <li>
        Evidence ties Dralen to criminal activities.
        How much is Olivet himself responsible for the criminal activities?
    </li>
    <li>Talos is an evil God, why would the book talk about freeing people from anything instead of simply fearing people into belief</li>
    <li>Apparently one cleric could believe to serve a God he didn't. Are there more clerics? What other games do the Gods play?</li>
    <li>There are many oppressing situations in the world, why send down an avatar for this particular situation</li>
    <li>What happened to Lokahmee and how does he feel about his tower being destroyed?</li>
</ol>

<h3>Aftermath</h3>
<ul>
    <li>The Book of Annihilation ends up after Morgi studied it for a while.</li>
    <li>The manual for running a Faerun Magic Shop is taken by Kadunkle for further researching</li>
</ul>

<h3>About time</h3>
<p>
    Book 3: A Trade Empire, tries to become a prequel to the books by Paul Kemp.
    In order to do that it needs to happen around 300 years before these books.
    That means this part of the adventure takes place 300 years before the campaign setting
    I think the chronology of the adventure of the party doesn't suffer too much from this,
    since history of Sembia and Cormyr has not been touched so far.
</p>

<h3>Begin :)</h3>
<p><a href="02-kadunkle-comes-to-visit.html">Kadunkle comes to visit</a></p>

{% endblock %}