{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Kadunkle comes to visit{% endblock %}
{% block summary %}Kadunkle introduces the quest.{% endblock %}

{% block misc %}
<p>Handout 01-Kad-Campaign-background.odt to Kadunkle as preparation.</p>
{% endblock %}

{% block events %}
<ol>
    <li>Message that Kadunkle will be arriving</li>
    <li>Kadunkle arrives</li>
</ol>
{% endblock %}

{% block achievements %}
<p>Party goes to sleep. Proceed to <a href="02-killed-in-the-night.html">killed in the night</a></p>
{% endblock %}

{% block locations %}
<p>Trippleton and the castle. No extra information.</p>
{% endblock %}