{% extends "dnd/abstract/obstacle.html" %}

{% block todo %}What are the Phase Spider stats? Fill out and correct the red texts in the info text.{% endblock %}

{% block title %}A midnight murder{% endblock %}
{% block summary %}The Phase Spider comes to assassinate the party.{% endblock %}

{% block misc %}
<p>Read info[1]</p>
{% endblock %}

{% block events %}
<ol>
    <li>Alex is assassinated as described in the text</li>
    <li>Kadunkle and Morgi suffer a similar fate</li>
    <li>Faradrim is spared</li>
</ol>
{% endblock %}

{% block achievements %}
<p>After reading out proceed to <a href="03-the-funeral.html">the funeral</a></p>
{% endblock %}

{% block locations %}
<p>Trippleton and the castle. No extra information.</p>
{% endblock %}