{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Kadunkle & Pomin come to visit.{% endblock %}
{% block summary %}Kadunkle introduces the quest.{% endblock %}

{% block misc %}
<p>Handout 01-Kad-Campaign-background.odt to Kadunkle as preparation.</p>
{% endblock %}

{% block events %}
<ol>
    <li>Kadunkle introduces his colleague and friend Pomin.</li>
    <li>After catching up they discuss business over dinner.</li>
    <li>A few weeks of rest are needed (level up)</li>
</ol>
{% endblock %}

{% block achievements %}
<p>After level up. Proceed to <a href="03-a-hungry-rat.html">a hungry Rat</a></p>
{% endblock %}

{% block locations %}
<p>Trippleton and the castle. No extra information.</p>
{% endblock %}