{% extends "dnd/abstract/obstacle.html" %}

{% block title %}A hungry Rat{% endblock %}
{% block summary %}Revellation of Munsky and exit of Rat.{% endblock %}

{% block events %}
<ol>
    <li>Kitchen maid stands sobbing before the Baron. Her hair messed up. Crying</li>
    <li>Butler explains that it has gone far enough. We all love jokes, but she's suffering.</li>
    <li>Which joke? The demon that is wrecking up the kitchen.</li>
    <li>They see an imp his mouth covered with blood of raw meat that his has been scorching on.</li>
    <li>As soon as party enters Munsky disappears</li>
    <li>Then he re-appears as rat on Rat's shoulder, but bloody (SpotDC15)</li>
    <li>Rat argues he is a harmless pet. Cleric comes, detect magic, overwhelmingly evil. Rat leaves.</li>
</ol>
{% endblock %}

{% block achievements %}
<p>Proceed to <a href="04-killed-in-the-night.html">killed in the night</a></p>
{% endblock %}

{% block locations %}
<p>Trippleton and the castle. No extra information.</p>
{% endblock %}