{% extends "dnd/abstract/obstacle.html" %}

{% block todo %}Who is present? Ask the players for their contribution.{% endblock %}

{% block title %}The funeral{% endblock %}
{% block summary %}A funeral takes place with a lot of people from the village present.{% endblock %}

{% block misc %}
<p>Players read out memorable moments from their characters</p>
{% endblock %}

{% block achievements %}
<p>After some nice speeches continue to <a href="04-the-grave-robbers.html">the grave robbers</a></p>
{% endblock %}
