{% extends "dnd/abstract/obstacle.html" %}

{% block title %}A midnight murder{% endblock %}
{% block summary %}The Phase Spider comes to assassinate the party.{% endblock %}

{% block misc %}
<p>Handover handout 03-All-Nightly-visitors.odt</p>
{% endblock %}

{% block events %}
<ol>
    <li>Alex is assassinated as described in the text</li>
    <li>Kadunkle and Morgi suffer a similar fate</li>
    <li>Faradrim is spared</li>
    <li><a href="../../groups/Phase-spider.html">Lookup damage</a></li>
</ol>
{% endblock %}

{% block achievements %}
<p>After reading out proceed to <a href="05-the-funeral.html">the funeral</a></p>
{% endblock %}

{% block locations %}
<p>Trippleton and the castle. No extra information.</p>
{% endblock %}