{% extends "dnd/abstract/obstacle.html" %}

{% block todo %}Ask the player for his contribution.{% endblock %}

{% block title %}A year goes by{% endblock %}
{% block summary %}Faradrim is on his own for a year.{% endblock %}

{% block misc %}
<p>Up to Faradrim what happens. After a year his ship gets ship wrecked</p>
<p>Read out info[2]</p>
{% endblock %}

{% block achievements %}
<p>Continue with <a href="../01-washed-ashore/00-leaving-heaven-or-hell.html">washed ashore</a></p>
{% endblock %}

