{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Grave Robbers{% endblock %}
{% block summary %}Monkeys steal from the graves and library.{% endblock %}

{% block events %}
<ol>
    <li>A group of monkeys visits Trippleton.</li>
    <li>They open the graves of the adventurers and take an eye from every one.</li>
    <li>They also storm the castle and take with them three books from the library.</li>
    <li>Guards had the impression that nothing was taken except for some food from the kitchen.</li>
</ol>
{% endblock %}

{% block achievements %}
<p>Continue with <a href="07-a-year-goes-by.html">a year goes by</a></p>
{% endblock %}

