{% extends "dnd/abstract/game_element.html" %}

{% block title %}The sea{% endblock %}
{% block summary %}The big blue salt dessert.{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>When on the sea around Yauhnn. There are a few ways to get to mainland</p>
    <ul>
        <li><a href="slums-district/breakers-slums.html">breaker slums</a> most obvious, but toughest area to get to land.</li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>Breaker slums entry</p>
    <dl class="dc">
        <dt>ClimbDC:</dt>
        <dd>15 >= climb on rocks from the water.</dd>
    </dl>
    <dl class="dc">
        <dt>ReflexDC:</dt>
        <dd>15 >= Hold onto rocks when boat smashes on the rocks</dd>
    </dl>
{% endblock %}

{% block conditions %}
    <dl class="dc">
        <dt>SwimDC: (Rough, +5 DC for stormy seas)</dt>
        <dd> 10 < You go underwater, start to drown.</dd>
        <dd> 10 >= Manage to fight the currents</dd>
        <dd> 15 >= Act in sea</dd>
    </dl>

    <p><a href="http://dndsrd.net/wildernessAndEnvironment.html#aquatic">Water environment</a></p>
{% endblock %}

{% block knowledges %}
    <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>Drowning</p>
    <ol>
        <li>Hold your breath 2xCon rounds</li>
        <li>Make FortDC10 check each round. +1 DC after each check</li>
        <li>Fall conscious 0 HP after failed check</li>
        <li>Drop to -1 HP, dying.</li>
    </ol>
{% endblock %}
