{% extends "dnd/abstract/game_element.html" %}

{% block title %}The sea{% endblock %}
{% block summary %}The big blue salt dessert.{% endblock %}

{% block events %}
    <p>When entering Yauhnn through the sea for the first time the adventurers have a few options depending on their situation:</p>
    <ul>
        <li>When they were helped <a href="../../characters/Sjahnsesh+shark-hunter.html">Sjahnsesh</a> will lead them to
        <a href="../../places/Yauhnn/slums-district/fisher-boats.html">fishers boats</a> (evade guards)</li>
        <li>Go to bright <a href="../../places/Yauhnn/trade-district/harbor">harbor</a> with their condition.</li>
        <li>Try to go for darker area (which are <a href="../../places/Yauhnn/slums-district/breakers-slums.html">breakers slums</a>)</li>
    </ul>
{% endblock %}

{% block locations %}

    <p><b>
        From the sea Yauhnn looks very impressive. There are boats everywhere. The city consists of tiers.
        The further up you go the richer the houses look. One area very near the docks also looks expensive though.
    </b></p>

    <p>When on the sea around Yauhnn. There are a few ways to get to mainland</p>
    <ul>
        <li>The <a href="slums-district/breakers-slums.html">breaker slums</a> is toughest area to get to land and will lead to stranding.</li>
        <li>The <a href="trade-district/harbor/">harbor</a> is easiest, but small boats are not allowed.</li>
        <li>The <a href="slums-district/fisher-boats.html">fisher boats</a> is easiest and safest way to get to land. Second tier of city is guarded.</li>
    </ul>

    <p>
        There is also a secret way to on land.
        When defying the currents somebody can enter a submarine cave that leads to the entrance of a secret route in
        <a href="slums-district/sea-water-slums.html">sea water slums</a>.
    </p>

{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>
        If all goes wrong a Locathah will notice and safe the adventurer.
        At night this will be a Locathah involved in fish scam and a beer drinker during the day at <a href="slums-district/slums-market.html">slums market</a>.</p>
{% endblock %}

{% block traps %}
    <p>Breaker slums entry leads to the boat breaking on the rocks. The current is especially strong around there</p>
    <dl class="dc">
        <dt>ClimbDC:</dt>
        <dd>15 >= climb on rocks from the water.</dd>
    </dl>
    <dl class="dc">
        <dt>ReflexDC:</dt>
        <dd>15 >= Hold onto rocks when boat smashes on the rocks</dd>
    </dl>
{% endblock %}

{% block conditions %}
    <dl class="dc">
        <dt>SwimDC: (Rough, +5 DC for stormy seas)</dt>
        <dd> 10 < You go underwater, start to drown.</dd>
        <dd> 10 >= Manage to fight the currents</dd>
        <dd> 15 >= Act in sea</dd>
    </dl>

    <dl class="dc">
        <dt>SwimDC: (Breaker slums, +5 DC when storming)</dt>
        <dd> 10 < You go underwater and start to drown</dd>
        <dd> 15 < You are taken to sea with the currents</dd>
        <dd> 15 >= Manage to fight the currents</dd>
        <dd> 20 >= Act normally</dd>
    </dl>

    <p><a href="http://dndsrd.net/wildernessAndEnvironment.html#aquatic">Water environment</a></p>
{% endblock %}

{% block knowledges %}
    <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>Drowning</p>
    <ol>
        <li>Hold your breath 2xCon rounds</li>
        <li>Make FortDC10 check each round. +1 DC after each check</li>
        <li>Fall conscious 0 HP after failed check</li>
        <li>Drop to -1 HP, dying.</li>
    </ol>
{% endblock %}
