{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Fixing the boat{% endblock %}
{% block summary %}Adventurers need to find a way to get off the island.{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>Takes place on <a href="../../places/big-ant-island/">Big Ant Island</a></p>
{% endblock %}

{% block achievements %}
    <p>When boat is fixed, proceed with <a href="02-lifting-the-boat-in-the-water.html">lifting the boat in the water</a>.</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>There are a few strategies to do this</p>
    <ul>
        <li>Using Hosan's favours to do a make whole on the boat.</li>
        <li>Use charm monster to convince workers to fix it.</li>
        <li>Use sugar pot and handle animal to convince workers to do it</li>
    </ul>
    <p>Boat may need feed supplies for underway.</p>
    <p>Doing it yourself is not going to work.</p>
    <p>
        A shadow walk with water breathing means that it would go down slowly at first.
        But rather fast they'd see the mountain that is under the vulcano.
        Looks like a chasm. They can jump in, but can they jump out?
        Shunted out they might end up in <a href="../../places/big-ant-island/headland.html">headland</a> area in the sea.
    </p>
{% endblock %}