{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Lifting the boat in the water{% endblock %}
{% block summary %}At the last moment the party gets attacked{% endblock %}

{% block events %}
    <p>
        As soon as the party gets the boat out of the jungle on the beach a Myrmarch teleports in with 4 workers.
        There are four scenarios:
    </p>
    <ul>
        <li>Hosan is helping = Fihni teleports in from a distance. Accuses Hosan of treason. He proves he's not a traitor by attacking as well.</li>
        <li>Hosan is not helping = He teleports in saying he says he's a little hungry.</li>
        <li>Hosan is dead, party killed/stole = Fihni was searching for killers/thiefs and found them</li>
        <li>Hosan is dead, party didn't do anything = Fihni teleports in asking questions, leaves</li>
    </ul>
    <p>Some facts to consider during combat.</p>
    <ul>
        <li>Beach is around 30m wide.</li>
        <li>Boat weighs 400lb.</li>
        <li>It takes 6 move actions to get to the sea</li>
        <li>Two guys needed to move because its a clumsy object</li>
    </ul>
{% endblock %}

{% block locations %}
    <p>Takes place on <a href="../../places/big-ant-island/">Big Ant Island</a></p>
{% endblock %}

{% block achievements %}
    <p>When escaped or victorious proceed with <a href="03-shark-attack.html">shark attack</a>.</p>
{% endblock %}

{% block creatures %}
    <p>These are the creatures</p>
    <ul>
        <li><a href="../../groups/Myrmarch-teleport-group.html">Myrmarch teleport group</a></li>
        <li>Possibly a <a href="../../monsters/Formian+tainted-myrmarch.html">tainted Myrmarch</a></li>
    </ul>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}