{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Shark attack (optional){% endblock %}
{% block summary %}A shark discovers the boat and tries to attack.{% endblock %}

{% block events %}
    <p>There are a series of events</p>
    <ol>
        <li>Party see the fin the the distance.</li>
        <li>Shark approaches bumping into the boat to see what is is.</li>
        <li>Shark attacks or not depending on party health</li>
        <li>When attacking it can disappear for full round action and topple the boat (effectively charging).</li>
        <li>If things go wrong Locathahs could save the day.</li>
    </ol>
{% endblock %}

{% block locations %}
    <p>no locations</p>
{% endblock %}

{% block achievements %}
    <p>After the shark flees or is defeated, proceed with <a href="04-the-church-of-Valkur.html">church of Valkur</a>.</p>
{% endblock %}

{% block creatures %}
    <p>A <a href="http://dndsrd.net/monstersDitoDo.html#dire-shark">dire shark</a></p>
    <p>Possibly <a href="../../characters/Sjahnsesh+shark-hunter.html">Sjahnsesh the shark hunter</a></p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>NatureDC:</dt>
        <dd> 10 >= Dire sharks can grow to a length of 25 feet and weigh more than 20,000 pounds.</dd>
        <dd> 15 >= Dire sharks bite with their powerful jaws, swallowing smaller creatures in one gulp.</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}