{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Finding The Temple of Talos{% endblock %}
{% block summary %}Entering the city the adventurers need to get to a safe haven.{% endblock %}

{% block achievements %}
    <p>
        When entering temple of Talos proceed with
        <a href="../03-first-day-in-Yauhnn/00-exploring-the-city.html">exploring the city</a>
    </p>
{% endblock %}

{% block events %}
    <p>
        As it grows darker adventurers suddenly see a slowly flickering light in the distance.
        A lighthouse! Meaning a harbor! (LocalDC & ReligionDC)
    </p>

    <p>
        They may decide to enter the <a href="../../places/Yauhnn/slums-district/temple-of-Valkur.html">lighthouse/temple</a>.
        Which will lead to <a href="../../places/Yauhnn/slums-district/temple-of-Talos.html">temple of Talos</a>.
        Or <a href="../../characters/Pomin+gnome-cormyr-spy.html">Pomin</a>/Locathah may lead them there upon seeing their condition.
        Any contact with guards in their state will lead to <a href="../../places/Yauhnn/slums-district/prison.html">prison</a>
        and if they do not escape death sentence by Waukeen priests.
    </p>

{% endblock %}

{% block locations %}
    <p>
        Once near the city they have to go on land from <a href="../../places/Yauhnn/sea.html">the sea</a> first.
    </p>

{% endblock %}

{% block knowledges %}

    <dl class="dc">
        <dt>LocalDC: (Valkur)</dt>
        <dd>10 >= In Yauhnn the lighthouse acts as a temple of Valkur (who is a servant of Talos).</dd>
    </dl>

    <dl class="dc">
        <dt>ReligionDC: (Valkur)</dt>
        <dd>10 >= God of good winds. Mostly prayed to by sailors. Temples often function as lighthouses.</dd>
        <dd>15 >= A lesser God that is not very important in the pantheon. Often thought to be a pawn of greater Gods.</dd>
        <dd>25 >= Rumored to be aligned with Talos god of Destruction.</dd>
    </dl>

{% endblock %}
