{% extends "dnd/abstract/obstacle.html" %}

{% block todo %}Make link with Temple of Talos here{% endblock %}

{% block title %}Finding The Temple of Valkur{% endblock %}
{% block summary %}First time in the Temple of Valkur.{% endblock %}

{% block events %}
    <p>
        As the it grows darker adventurers suddenly see a slowly flickering light in the distance.
        A lighthouse! And very well possibly a church of Valkur.
    </p>
    <p>
        They have to get there from <a href="../../places/Yauhnn/sea.html">the sea</a>.
        These are their options:
    </p>
    <ul>
        <li>When they were helped <a href="../../characters/Sjahnsesh+shark-hunter.html">Sjahnsesh</a> will lead them to
        <a href="../../places/Yauhnn/slums-district/fisher-boats.html">fishers boats</a> (evade guards)</li>
        <li>Go to bright <a href="../../places/Yauhnn/trade-district/harbor">harbor</a> with their condition.</li>
        <li>Try to go for <a href="../../places/Yauhnn/slums-district/breakers-slums.html">darker area</a></li>
    </ul>

    <p>
        When they get to <a href="../../places/Yauhnn/slums-district/church-of-Valkur.html">the church </a> knocking on the hatch a a sleepy cleric opens.
        He is startled by their appearance. Scared, but will realize that party isn't doing anything.
        Once inside the cleric is trying to help, but can't really.
        He is hesitant to say that he knows somebody who can.
    </p>

    <p> You can go to a secret door behind the altar. It leads into a cave passage. When you move away the curtain you walk unto another alter.
        However here the church is full.</p>
{% endblock %}
