{% extends "dnd/abstract/obstacle.html" %}

{% block todo %}Which ritual?{% endblock %}

{% block title %}Finding The Temple of Talos{% endblock %}
{% block summary %}First time in the Temple of Talos.{% endblock %}

{% block events %}
<ol>
    <li>Adventures enter through a back entrance which leads to the altar</li>
    <li>On the altar a violent ceremony is taking place to honour Talos</li>
    <li>The cleric recognizes the adventurers as figures from the prophecy</li>
    <li>Everybody drops to their knees in worship</li>
    <li>All wounds are taken care off</li>
</ol>
{% endblock %}