{% extends "dnd/abstract/game_element.html" %}

{% block title %}Finding a letter{% endblock %}
{% block summary %}Hand out the letter and give them knowledge checks.{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>no locations</p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>ReligionDC: (Talos)</dt>
        <dd>
            10 >= Evil God of destruction.
            He is portrayed as a short tempered, angry filled, impulsive and powerful bully.
            Followers are often scared into following him.
        </dd>
        <dd>
            15 >= Talos clerics often loot places after they tore them to the ground.
            Talos clerics typically do not think of plots or schemes to reach their goals. They simply take what they want.
            There are some Talos rites that often incur many innocent casualties.
        </dd>
        <dd>
            20 >= Talos is also often prayed to by rebels or other people against oppression by establishment.
            Destruction of the establishment is for them a liberating action.
            Goals justify the means according to these followers.
        </dd>
    </dl>
    <dl class="dc">
        <dt>ReligionDC: (Hanuman)</dt>
        <dd>15 >= A servant of Talos. Half-man, half-monkey. Destroys with his spells, fists and size in which he is free to switch.</dd>
        <dd>20 >= Said to be created by Talos in an experiment where he destroyed all yang in a creature.</dd>
        <dd>
            30 >= Valkur helpt Talos in his experiment by blowing the soul of Talos's son (half-monkey, half God) loose from its body.
            Once the soul was separated from the body Talos could destroy all yang in his son's soul.
            However the world strives to be in balance. So Hanuman's soul attracts evil. A simple matter of physics.
            The direct surroundings of Hanuman's soul is under constant process of turning into evil. Enhancing the evil that is already present.
            Because Hanuman is pure goodness he devoted his life to cleaning the evil that his soul attracts through rituals.
        </dd>
    </dl>
    <dl class="dc">
        <dt>ReligionDC: (Valkur, when appropriate at this time)</dt>
        <dd>10 >= God of good winds. Mostly prayed to by sailors.</dd>
        <dd>15 >= A lesser God that is not very important in the pantheon. Often thought to be a pawn of greater Gods.</dd>
        <dd>25 >= Rumored to be aligned with Talos god of storms.</dd>
    </dl>
    <dl class="dc">
        <dt>ReligionDC: (Book of Annihilation)</dt>
        <dd>
            Readers = A book that seems to have little coherence.
            However most stories are about how destruction of somebody or something is helping somebody or something else.
        </dd>
        <dd>20 >= Context of the book is Talos followers against oppressors. A very rare book.</dd>
    </dl>
    <dl class="dc">
        <dt>LocalDC:</dt>
        <dd>
            10 >= A land of trade. With making a good deal you'll make a good impression.
            However they are suspicious of foreigners and they generally hate Elves and half Elves.
            Trade takes place in cities. Outside the cities there are mostly farms and mansions from wealthy Sembians.
            Sembian cities are mostly ruled through a plutocracy. A council of merchants with a chosen Hulorn.
            The main capital is Ordulin a former Elven city (but not acknowledged as being such)
        </dd>
        <dd>
            15 >= Sembia is build upon an underdark plateau. The underdark rises from the sea and its top forms Sembias mainland.
            This is partially the reason why there are so many striving evil cults in the country.
            Guards in Sembia are well paid and hard to corrupt.
            Some of the money that circulates in Sembia are simple stones with an illusion that makes it seem like gold.
            Within Sembia this is perfectly legal money and you can buy anything with it. Outside of Sembia it is often refused.
        </dd>
        <dd>
            20 >= The dark side of Sembia is illegal trade, slavery and extortion.
            It is not discussed in public, but these activities are a driving force behind the economy of Sembia.
            Within higher classes there is fear for The Red Wizards of Thay. Because this profitable organization may take over trade in magic goods completely.
        </dd>
    </dl>
    <dl class="dc">
        <dt>ReligionDC: (Waukeen, if appropriate)</dt>
        <dd>
            10 >= Goddess of trade and the marketplace.
            She loves money for all the things that you can do with it.
            A society blooms if it has a lot of money and her followers try to make as much of it as possible.
        </dd>
        <dd>
            15 >= A controversial aspect of Waukeen is that she creates money out of nothing for the sake of abundance.
            Another thing that raises I brows left and right is that she facilitates illegal trade as much as legal trade.
        </dd>
        <dd>
            20 >= Recently got back from being held prisoner in mortal form by Graz'zt.
            Another enemy in the pantheon is Mask.
        </dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}