{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Finding the light{% endblock %}
{% block summary %}No summary{% endblock %}

{% block events %}
    <p>Night 1</p>
    <ul>
        <li>All animals begin to stir as though they know that something is happening.</li>
        <li>Earthquake (see conditions)</li>
        <li>See the light from atop the small mountain through the V shape in the middle.</li>
    </ul>

{% endblock %}

{% block locations %}
    <p>no locations</p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>Earthquake</p>
    <ul>
        <li>
            Land: Each creature standing in the area must make a DC 15 Reflex save or fall down.
            Fissures open in the earth, and every creature on the ground has a 25% chance to fall into one
            (Reflex DC 20 to avoid a fissure).
            At the end of the spell, all fissures grind shut, killing any creatures still trapped within.
        </li>
        <li>
            Sea: ...
        </li>
        <li>Spontaneous lightning, sonic and fire?</li>
    </ul>
{% endblock %}

{% block knowledges %}
    <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}