{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Formian first contact{% endblock %}
{% block summary %}Three formian workers visit the beach.{% endblock %}

{% block events %}
    <p>A series of events takes place in succession.</p>
    <ol>
        <li>With a ListenDC15 they actually start to hear animals waking up.</li>
        <li>With a SpotDC15 you notice a butterfly with red eyes sucking the life out of another butterfly.</li>

        <li>Three creatures are making their way down the headlands into the abandoned village.</li>
        <li>They are Formian workers, but with deep red eyes, wings and walking awkwardly.</li>
        <li>From there they inspect that area. Gathering some vegetation.</li>
        <li>They also inspect the beach.</li>
    </ol>
    <p>
        When party confronts the Formian workers or they get discovered. Party should fear hive mind.
    </p>
    <ul>
        <li>The workers seem to fear for their lifes and try to get away unharmed.</li>
        <li>They will attack when threatened with Hanuman soul charges.</li>
        <li>The hive does not come into pursuit??</li>
    </ul>



    </p>
{% endblock %}

{% block locations %}
    <p>Takes place on <a href="../../places/big-ant-island/">Big Ant Island</a></p>
{% endblock %}

{% block achievements %}
    <p>When night falls completely continue with <a href="03-finding-the-light.html">finding the light</a>.</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>KnowledgeNatureDC: (Formians)</dt>
        <dd> 10 >= Formians are monstrous humanoids that are half ant, half human, which live in big colonies led by powerful mystical queens through the hive mind</dd>
        <dd> 15 >= Details about Workers and Warriors</dd>
        <dd> 20 >= Details about Taskmasters and Myrmarchs</dd>
        <dd> 25 >= Details about Queens</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}

<p>Animals slowly come to life</p>