{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Towards the light{% endblock %}
{% block summary %}They meet a creepy Myrmarch that can help them to get into the Hive and off the island for a price.{% endblock %}

{% block events %}
    <p>
        Day 2..X suffer from the taint on the <a href="../../places/big-ant-island/overview.html">big ant island</a>
        It is clear that whatever is happening gets worse over time.
    </p>
    <p>
        When on the vulcano the party is suddenly confronted by a Myrmarch called Hosan who teleports in their way.
        He acts a bit creepy.
        If party does not cooperate he will force them to do his work or die trying.
    </p>
    <ol>
        <li>How they got here?</li>
        <li>What are the adventurers up to?</li>
        <li>Do you know what "the light" did to our Queen?</li>
        <li>He can heal some wounds.</li>
        <li>He can fix the boat.</li>
        <li>He wants a task master dead.</li>
        <li>
            Why? That taskmaster is under control of Fihni and he wants another taskmaster close to the light.
            One that he controls.
        </li>
        <li>His advice is to go in during the day and circumvent the patrols or enter during the night through level-1.</li>
    </ol>
{% endblock %}

{% block locations %}
    <p>
        They need to go up the <a href="../../places/big-ant-island/vulcano-ring.html">vulcano</a> to get to "the light".
        Up there the events here take place.
    </p>
{% endblock %}

{% block achievements %}
    <p>When looking at the Ankheg. They get <a href="05-enlightenment.html">enlightenment</a></p>
{% endblock %}

{% block creatures %}
    <p>Hosan a mutilated <a href="../../monsters/Formian+tainted-myrmarch.html">Myrmarch</a>.</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}
