{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Enlightenment{% endblock %}
{% block summary %}Adventurers learn about Talos, Hanuman, the relics, the island & a prophecy.{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>Takes place on <a href="../../places/big-ant-island/">Big Ant Island</a></p>
{% endblock %}

{% block achievements %}
    <p>Proceed with <a href="../02-escape-big-ant-island/01-fixing-the-boat.html">escape big ant island</a>.</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>Evil is dense around the vessel (<a href="../../places/big-ant-island/overview.html">reroll taints</a>)</p>
{% endblock %}

{% block knowledges %}
    <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>Handout 05-All-Enlightenment.odt</p>
{% endblock %}