{% extends "dnd/abstract/character.html" %}
{% load staticfiles %}

{% block name %}Falok Mekan{% endblock %}
{% block summary %}A too slick merchant selling Faerun Trade Group stored stock.{% endblock %}

{% block story %}
    A "broker" that is selling Global Convoy "stock" of the Faerun Trade Group.
    He is an early adapter and bought the stock with Waukeen money at a low price and now tries to make a profit.
{% endblock %}
{% block motivation %}
    <p>Lawful neutral</p>
    <ul>
        <li>Wants to sell its stock for a profit.</li>
        <li>Does not like to be seen with Elves or Cormyr people for his reputation.</li>
    </ul>
{% endblock %}
{% block image %}No image{% endblock %}

{% block stats %}No stats{% endblock %}