{% extends "dnd/abstract/character.html" %}

{% block todo %}
stats!
{% endblock %}

{% block name %}Lokahmee{% endblock %}
{% block summary %}
    Whizard, Archmage, who has fallen for the charms of <a href="Rafana+lady-of-the-pink-tree.html">Rafana</a> and helps
    <a href="Olivet+Magic-merchant.html">Olivet</a> to build his teleportation device.

{% endblock %}

{% block story %}
    <p>
        <a href="Rafana+lady-of-the-pink-tree.html">Rafana</a> started to date with Lokahmee in Ardjanela and immediately liked the beautiful human girl.
        He always had a weakness for human females.
        <a href="Rafana+lady-of-the-pink-tree.html">Rafana</a> gave strong hints that she adored men who wear a certain perfume.
        This perfume was in fact poison to weaken his will and he fell for it.
        Once <a href="Rafana+lady-of-the-pink-tree.html">Rafana</a> had mental control due to his weak will she forced him to wear a cursed item.
        This item truly crushed his willpower. After that Rafana started to tell a few lies:
    </p>

    <ul>
        <li>The necklace I'm wearing is a sign for our love (in truth it is the cursed item that trumps his will)</li>
        <li>
            The device I'm working on is my wedding gift to Rafana
            (in truth it is facilitating <a href="Olivet+Magic-merchant.html">Olivet</a> to gain power)</li>
        <li>
            I'm posing as hulorn to protect my family in law from merchant wolfs
            (another favour for <a href="Olivet+Magic-merchant.html">Olivet</a>)
        </li>
    </ul>

    <p>To uphold the lies above <a href="Rafana+lady-of-the-pink-tree.html">Rafana</a> has also given him false memories:</p>
    <ul>
        <li>
            My daughter is angry at me and never wants to see me again.
            In truth she went insane in front of his eyes when she was picking him up to go back home
        </li>
        <li>
            Thinks he put on his normal contingency spell,
            but instead has a contingency spell on that will transport him to the Pink Tree
        </li>
        <li>We regularly have amazing sex (in truth nothing ever happened)</li>
    </ul>

{% endblock %}

{% block motivation %}
    <p>Lawful neutral</p>
    <ul>
        <li>Is enchanted to long for approval of <a href="Rafana+lady-of-the-pink-tree.html">Rafana</a>.</li>
        <li>Disapproves of the consequences of the device that he is making and the methods used to achieve completion.</li>
    </ul>
{% endblock %}

{% block stats %}
    {% include "dnd/concrete/characters/stats/lokahmee.html" %}
{% endblock %}