{% extends "dnd/abstract/character.html" %}

{% block name %}Mirika{% endblock %}
{% block summary %}
    Rogue, Sorcerer, Arcane Trickster.
    Initially insane and needs to be cured so that her father will stop being in love with Rafana.
{% endblock %}

{% block story %}
    <p>Mirika has her arcane powers from the human sorceress her father fell for. She's very rebellious and learned to evade her fathers magic from childhood</p>
    <p>
        When her father went missing she started to look for him and tracked his new love Rafana.
        She indeed found her father with her on a boat.
        Rafana was told to kill the half elf girl with too many questions,
        but she made Mirika insane instead, thinking that it is effectively the same.
        Rafana assumes Mirika is somewhere raped and dead in the country side. Instead she lives in the slums in Yauhnn.
    </p>
{% endblock %}

{% block motivation %}
    <p>Chaotic good</p>
    <ul>
        <li>Wants to find her father <a href="Lokahmee+arch-mage.html">Lokahmee</a> and be with him</li>
        <li>
            Is insane due to <a href="Rafana+lady-of-the-pink-tree.html">Rafana</a>.
            Here live would be in danger if it became evident that she is still alive.
        </li>
    </ul>
{% endblock %}

{% block stats %}
    {% include "dnd/concrete/characters/stats/mirika.html" %}
{% endblock %}