{% extends "dnd/abstract/character.html" %}
{% load staticfiles %}

{% block name %}Valesh{% endblock %}
{% block summary %}Guide assigned to the party by <a href="Janala+talos-oracle.html">Janala</a>{% endblock %}

{% block story %}{% endblock %}
{% block motivation %}
    <p>Wants to help the party as good as he can.</p>
    <p>Is afraid to fail servants of Talos and pay the price for it.</p>

{% endblock %}
{% block image %}No image{% endblock %}

{% block stats %}3rd level <a href="http://dndsrd.net/cleric.html">cleric</a>{% endblock %}