{% extends "dnd/abstract/character.html" %}
{% load staticfiles %}

{% block name %}Valof{% endblock %}
{% block summary %}Head of the Waukeen church. Allows FTG practises{% endblock %}

{% block story %}{% endblock %}
{% block motivation %}
    <p>Truly believes that he is doing the best for the market.</p>
    <p>May bulge from highly immoral actions by Olivet.</p>

{% endblock %}
{% block image %}No image{% endblock %}

{% block stats %}10th level <a href="http://dndsrd.net/cleric.html">cleric</a>{% endblock %}