{% extends "dnd/abstract/place.html" %}

{% block title %}No title{% endblock %}
{% block summary %}No summary{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>no locations</p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
   <p>About the country</p>
   <dl class="dc">
        <dt>LocalDC:</dt>
        <dd>
            10 >= A land of trade. With making a good deal you'll make a good impression.
            However they are suspicious of foreigners and they generally hate Elves and half Elves.
            Trade takes place in cities. Outside the cities there are mostly farms and mansions from wealthy Sembians.
            Sembian cities are mostly ruled through a plutocracy. A council of merchants with a chosen Hulorn.
            The main capital is Ordulin a former Elven city (but not acknowledged as being such)
        </dd>
        <dd>
            15 >= Sembia is build upon an underdark plateau. The underdark rises from the sea and its top forms Sembias mainland.
            This is partially the reason why there are so many striving evil cults in the country.
            Guards in Sembia are well paid and hard to corrupt.
            Some of the money that circulates in Sembia are simple stones with an illusion that makes it seem like gold.
            Within Sembia this is perfectly legal money and you can buy anything with it. Outside of Sembia it is often refused.
        </dd>
        <dd>
            20 >= The dark side of Sembia is illegal trade, slavery and extortion.
            It is not discussed in public, but these activities are a driving force behind the economy of Sembia.
            Within higher classes there is fear for The Red Wizards of Thay. Because this profitable organization may take over trade in magic goods completely.
        </dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}

