{% extends "dnd/abstract/place.html" %}

{% block todo %}
    <ul>
        <li>Part of conflict with Cormyr</li>
        <li>Cormyr first vicitim of secret installation?</li>
    </ul>
{% endblock %}

{% block summary %}

{% endblock %}

{% block achievements %}

    <p>Discover secret accounting</p>
    <ul>
        <li>
            Large amounts of resources can't get out of Cormyr without paying taxes.
            First use of the installation is to get goods out of Cormyr without paying a dime.
            The abandoned mine is a storage for these goods until they can be transported.
        </li>
        <li>Cormyr treasury easily looses a few million gold pieces due to this scam.</li>
    </ul>

{% endblock %}

{% block creatures %}
    <p>Outside the immediate paramises:</p>
    <ul>
        <li>Stone golems hidden by permanent illusions</li>
        <li>Inside a Gorgon waits?</li>
        <li>How to make use of their program?</li>
    </ul>
{% endblock %}

{% block traps %}
    <p>Outside:</p>
    <ul>
        <li>Something that does not go well with Stone Goloms, like Symbol of Stunning</li>
        <li>Double spell trap on the door</li>
    </ul>

    <p>Inside:</p>
    <ul>
        <li>Teleportation traps?</li>
        <li>Alarms everywhere</li>
        <li>Something more deadly on the entrance of the room with accounting like: Symbol of Death</li>
    </ul>

{% endblock %}