{% extends "dnd/abstract/base.html" %}

{% block title %}{% block name %}{% endblock %}{% endblock %}
{% block summary %}No summary{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span8">
            {% block motivation %}
                <p style="color: red;">no motivation!</p>
            {% endblock %}
            <hr/>
            {% block story %}No story{% endblock %}
        </div>
        <div class="span4">
            {% block image %}
                <p>No image</p>
            {% endblock %}
        </div>
    </div>



    <hr/>

    {% block stats %}
        {% include "dnd/abstract/stats.html" %}
    {% endblock %}



{% endblock %}