{% load staticfiles %}
<html>
<head>
    <title>{% block title %}fakoberkers{% endblock %}</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
</head>

<body>
    <div id="search-container">
        <form method="GET" action=".">
            <p><input type="text" name="q"/></p>
            <p><input type="submit" name="submit" value="search"/></p>
        </form>
    </div>

    <div id="results-container">
        {% block results %}{% endblock %}
    </div>
</body>

</html>