{% extends "base.html" %}

{% block results %}
    <div class="container-fluid">
        <div class="row-fluid">
            {% for translation,images in results.iteritems %}
                <div id="{{ translation }}" class="span10 offset1">
                    {% for image in images %}
                        <a href="{{ image.contextLink }}"><img src="{{ image.thumbnailLink }}" /></a>
                    {% endfor %}
                </div>
            {% empty %}
                <div class="span12">No results found.</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
