{% extends "search.html" %}

{% block title %}Results for: {{ term }}{% endblock %}

{% block results %}
    <h2>Below are the results for: {{ term }}</h2>
    <div class="container-fluid">
        {% for language,span,rsl in results %}
            <hr/>
            <div class="row-fluid">
                <h2>{{ language }}</h2>
            </div>
            <div class="row-fluid">
                {% for translation,images in rsl.iteritems %}
                    <div id="{{ translation }}" class="result-column span{{ span }}">
                        <div class="result-cell"><h3>{{ translation }}</h3></div>
                        {% for image in images %}
                            <div class="result-cell"><a href="{{ image.contextLink }}"><img src="{{ image.thumbnailLink }}" /></a></div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        {% empty %}

            <div class="row-fluid">
                <div class="span12">No results found.</div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
