{% extends "dnd/abstract/base.html" %}

{% block todo %}
    <p>At this point the adventurers</p>
    <ul>
        <li>Hold the cursed item that surpresses will saves</li>
        <li>Have possibly broken the charms on Lokahmee</li>
        <li>
            Did not free Lokahmee of his curse yet,
            as the curse can only be undone when the necklace is off
        </li>
        <li>Have no idea where Lokahmee went (big ant island)</li>
    </ul>



    <p>In the mean time Rafana will want to have her necklace back. Send in pirates? How could adventurers search Lokahmee</p>

{% endblock %}