{% extends "dnd/abstract/base.html" %}

{% block content %}
    <p>
        This group of merchants is responsible for making political decisions in Yauhnn.
        There are seven merchants sitting in the council that is controlling the city of which the hulorn is president.
        For many small matters the Hulorn has obsolute power.
        For bigger decisions the Hulorn has to have a majority in his council.
        For very big decisions there has to be a 2/3 majority in the council.
        A lot of council members are part of the <a href="Faerun-trade-group.html">Faerun Trade Group</a>.
    </p>

    <dl class="dc">
        <dt>LocalDC:</dt>
        <dd>
            15 >= There are seven merchants sitting in the council that is controlling the city of which the hulorn is president.
            For many small matters the Hulorn has obsolute power.
            For bigger decisions the Hulorn has to have a majority in his council.
            For very big decisions there has to be a 2/3 majority in the council.
        </dd>
        <dd>20 >= Head of Waukeen temple named <a href="../characters/Valof+Waukeen-cleric.html">Valor</a> has a seat in the council.</dd>
        <dd>22 >= Hulorn is called <a href="../characters/Taduan+hulorn-animal-merchant.html">Taduann</a> and trades in cattle/animals.</dd>
        <dd>24 >= <a href="../characters/Olivet+Magic-merchant.html">Olivet</a> is also part of the council.</dd>
        <dd>25 >= <a href="../characters/Otalan+food-and-drink-merchant.html">Otalan</a> is dealing in the finest food and drinks and is council member.</dd>
        <dd>26 >= <a href="../characters/Dragbar+metal-merchant.html">Dragbar</a> is a Gold Dwarf that ownes a lot of mines and smiths and is part of the council.</dd>
        <dd>28 >= <a href="../characters/Wehna+clothing-merchant.html">Wehna</a> (clothing) and <a href="../characters/Harar+wood-merchant.html">Harar</a> (wood) are both influential merchants in council.</dd>
    </dl>
{% endblock %}