{% extends "dnd/abstract/place.html" %}

{% block title %}Abandoned village{% endblock %}
{% block summary %}No summary{% endblock %}

{% block todo %}




{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>There are various points of interest in this area</p>
    <ul>
        <li>A stream of water that ends in the sea </li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>All fruits have 20% chance of being poisonous as well as water from the stream.</p>
    <dl class="dc">
       <dt>FortDC: 14 (food)</dt>
       <dd>2x 1d6 from random ability</dd>
    </dl>
    <dl class="dc">
       <dt>FortDC: 14 (water from stream)</dt>
       <dd>-5 Will saves</dd>
    </dl>
{% endblock %}

{% block conditions %}
    <p>
        Extreme dense growth with some trees that seem to have been snapped in two that obstruct the way.
    </p>
{% endblock %}

{% block knowledges %}

    <dl class="dc">
        <dt>NatureDC: (never saw vulcano's so -5 penalty)</dt>
        <dd> >= 20 This land is very fertile due to the vulcanic soil.</dd>
        <dt>NatureDC: (never saw vulcano's so -5 penalty)</dt>
        <dd> >= 20 Trees got snapped due to sudden ruptures in the ground.</dd>
    </dl>

    <dl class="dc">
        <dt>SurvicalDC: (Food, penalty due to winter)</dt>
        <dd> 15 >= Find food (20% chance on poison) </dd>
        <dd>
            20 >= Find food (fruits) and water (rain water) that is certainly not poisonous.
                  Find food and water for another for every two points above 15.
        </dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}
