{% extends "dnd/abstract/place.html" %}

{% block title %}Abandoned village{% endblock %}
{% block summary %}An old fishers village with only the last inhabitant remaining as a skeleton.{% endblock %}

{% block events %}
    <p>When you enter one of the houses you immediately notice a skeleton lifeless on the ground, wearing ragged clothing.</p>
    <p>When walking through the area you notice a butterfly sucking the life out of another butterfly.</p>
{% endblock %}

{% block locations %}
    <p>
        There are various points of interest in this large area with relatively little vegetation.
        It is striking that there are no signs of
    </p>
    <ul>
        <li>A stream of water that ends in the sea.</li>
        <li>A few stone houses with their wooden roofs collapsed and walls with huge tears stand in a circle.</li>
        <li>On the edge of the small village lies a boat with a whole in its bough.</li>
        <li>In the center of the circle of houses is an old fire place.</li>
    </ul>
    <p>Towards other places.</p>
    <ul>
        <li>Follow the stream towards <a href="the-tree.html">Pink Flower Tree</a></li>
        <li>Go back to the <a href="beach-left.html">beach</a></li>
        <li>Move <a href="inland-center.html">into the jungle</a></li>
        <li>
            Up the <a href="headland.html">headland</a> to your left.
            This seems a very though climb (ClimbDC25) due to steepness (+5) and the thick growth (+5).
        </li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>All fruits have 20% chance of being poisonous as well as water from the stream.</p>
    <dl class="dc">
       <dt>FortDC: 14 (food)</dt>
       <dd>2x 1d6 from random ability</dd>
    </dl>
    <dl class="dc">
       <dt>FortDC: 14 (water from stream)</dt>
       <dd>-2 Will saves (1h)</dd>
    </dl>
{% endblock %}

{% block conditions %}
    <p>
        Undergrowth: Vines, roots, and short bushes cover much of the ground in a forest.
        A space covered with light undergrowth costs 2 squares of movement to move into, and it provides concealment.
        Undergrowth increases the DC of Tumble and Move Silently checks by 2 because the leaves and branches get in the way.
    </p>
    <p>Houses do not have a roof, but they provide shelter against the wind.</p>
{% endblock %}

{% block knowledges %}

    <dl class="dc">
        <dt>NatureDC: (never saw vulcano's so -5 penalty)</dt>
        <dd> >= 20 This land is very fertile due to the vulcanic soil.</dd>
        <dt>NatureDC: (never saw vulcano's so -5 penalty)</dt>
        <dd> >= 20 Trees got snapped due to sudden ruptures in the ground.</dd>
    </dl>

    <dl class="dc">
        <dt>SurvicalDC: (Food, penalty due to winter)</dt>
        <dd> 15 >= Find food (20% chance on poison) </dd>
        <dd>
            20 >= Find food (fruits) and water (rain water) that is certainly not poisonous.
                  Find food and water for another for every two points above 20.
        </dd>
    </dl>
{% endblock %}

{% block items %}
    <p>Here is a list of items with the place where to find them and the search DC.</p>
    <ul>
        <li>Masterwork shortspear (blunt): boat, SearchDC10</li>
        <li>
            Locked chest with 1xCSW + 3 platinum: cracked wall of a house, SearchDC20.
            BreakDC10 (breaks the vial), OpenDC15.
        </li>
        <li>Masterwork dagger (blunt): near the fireplace, SearchDC15</li>
    </ul>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}
