{% extends "dnd/abstract/place.html" %}

{% block title %}Beach, center{% endblock %}
{% block summary %}Place to start exploring the island, learn about the quest and discover relics{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}

    <p>In the immediate surroundings</p>
    <ul>
        <li>You're on a beach that stretches around 500m.</li>
        <li>The beach is part of a bay in the shape of a moon.</li>
        <li>Beyond the bay the sea stretches as far as you can see.</li>
        <li>The headlands of the bay are steep rocks that lead up to an even steeper landscape in the middle.</li>
        <li>What lies beyond that you do not know.</li>
        <li>From the beach you can get to a big hill by going inland through a jungle landscape.</li>
        <li>In the middle the top of the small mountain is lower than the side of it.</li>
        <li>A small waterfall drops from the middle.</li>
        <li>It looks like you awoke in paradise, but the strong wind and brutal waves tell you otherwise.</li>
        <li>There lies a very well crafted bag on the ground nearby.</li>
    </ul>

    <p>
        The adventurers can move towards the following area's from here.
        Directions are indicated when standing with their backs to the sea
    </p>
    <ul>
        <li><a href="beach-right.html">Right side</a> of the beach</li>
        <li><a href="beach-left.html">Left side</a> of the beach</li>
        <li><a href="inland-center.html">Inland</a> towards the jungle (hard terrain)</li>
        <li>The wild <a href="sea.html">sea</a> lies behind you</li>
    </ul>
{% endblock %}

{% block achievements %}
    <ul>
        <li>When they find Hanuman's letter proceed to <a href="01-finding-a-letter.html">finding a letter</a></li>
        <li>Find Talos relics</li>
    </ul>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>SurvivalDC: (tracks)</dt>
        <dd> >= 10 Large groups (around 10) of monstrous humanoids seem to walk on this beach with some regularity</dd>
        <dd>
            >= 20 A smaller group of monstrous humanoids (around 3 each time) that leave steps as if on six feet (like Formians) are regularly walking on the beach.
            However they do not have feet that resemble Formians.
        </dd>
    </dl>
    <dl class="dc">
        <dt>KnowledgeNatureDC: (Formians)</dt>
        <dd> 10 >= Formians are monstrous humanoids that are half ant, half human, which live in big colonies led by powerful mystical queens through the hive mind</dd>
        <dd> 15 >= Details about Workers and Warriors</dd>
        <dd> 20 >= Details about Taskmasters and Myrmarchs</dd>
        <dd> 25 >= Details about Queens</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>On the beach lies a handy haversack with the following content</p>
    <ul>
        <li>A letter</li>
    </ul>
    <p>There are also these black with gold artifacts in the bag.</p>
    <ul>
        <li>Two rapiers</li>
        <li>A quiver</li>
        <li>A staff</li>
    </ul>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}