{% extends "dnd/abstract/place.html" %}

{% block title %}Beach, right{% endblock %}
{% block summary %}Place to stack up on gear and find the book of annihilation.{% endblock %}

{% block events %}
    <p>As the adventures get closer to the statue the red eyed Girallons grow restless</p>
    <p>The Girallons attack as soon as they touch the statue, however once they don't they'll seize.</p>
{% endblock %}

{% block locations %}
    <p>On this beach</p>
    <ul>
        <li>3x Girallons are sitting on the headland in the trees.</li>
        <li>Their eyes are blood red and they seem grumpy (during the day).</li>
        <li>
            A black golden statue in the liking of Hanuman in a lotus position is holding a flower
            (sleeping close to the statue vents off corruption, deprivation and charge with a +10 bonus).
        </li>
    </ul>

    <p>From here the party can head to:</p>
    <ul>
        <li>The <a href="inland-right.html">inland</a></li>
        <li>The other side of the <a href="beach-center.html">beach</a></li>
        <li>The <a href="sea.html">sea</a></li>
        <li>Climb the <a href="headland.html">headland</a> (Girallons won't like territory invasion)</li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>Find the book of annihilation together with other gear in the burrow.</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>It is possible to climb to whatever is behind the headland.</p>
    <dl class="dc">
        <dt>ClimbDC: (to move to next headland, slippery surface penalty +5)</dt>
        <dd> <= 15 Fall into the sea</dd>
        <dd> < 20 Stay put, try again</dd>
        <dd> >= Proceed with next check (make 5 checks)</dd>
    </dl>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>KnowledgeArcanaDC: (Girallon)</dt>
        <dd> >= 10 Magical cousins of the gorilla. They are very territorial.</dd>
        <dd> >= 15 They tear opponents apart if they get the chance. Red eyed Girallons are unique.</dd>
    </dl>

    <dl class="dc">
        <dt>HealDC: (Body)</dt>
        <dd> >= 10 His flesh got ripped apart by something with claws.</dd>
    </dl>

    <dl class="dc">
        <dt>SurvivalDC: (tracks)</dt>
        <dd> >= 10 Large groups (around 10) of monstrous humanoids seem to walk on this beach with some regularity</dd>
        <dd>
            >= 20 A smaller group of monstrous humanoids (around 3 each time) that leave steps as if on six feet (like Formians) are regularly walking on the beach.
            However they do not have feet that resemble Formians.
        </dd>
    </dl>
    <dl class="dc">
        <dt>KnowledgeNatureDC: (Formians)</dt>
        <dd> 10 >= Formians are monstrous humanoids that are half ant, half human, which live in big colonies led by powerful mystical queens.</dd>
        <dd> 15 >= Details about Workers and Warriors</dd>
        <dd> 20 >= Details about Taskmasters and Myrmarchs</dd>
        <dd> 25 >= Details about Queens</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>On the beach, some belongings of a dead ranger.</p>
    <ul>
        <li>Bow +1 fire burst</li>
        <li>20 arrows</li>
        <li>Studded leather +2</li>
        <li>1x CSW</li>
    </ul>
    <p>In the rock of the headland there is a burrow. Inside that burrow stands the following.</p>
    <ul>
        <li>A gold & black statue of a half-man half-monkey holding a flower.</li>
        <li>A black and gold book (Book of Annihilation).</li>
        <li>Faerun Magic Shop Manual.</li>
        <li>A familiar book (spell book Kadunkle).</li>
        <li>Inside the spell book you find some scrolls (transmute rock to mud, dominate person, swim, clairaudience/clairvoyance, veil).</li>
        <li>One vial with a potion is standing next to the statue (potion of restoration)</li>
        <li>As well as a sealed pot (full with sugar)</li>
    </ul>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}