{% extends "dnd/abstract/place.html" %}

{% block todo %}Specify items further{% endblock %}

{% block title %}Beach, right{% endblock %}
{% block summary %}No summary{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>no locations</p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
       <dt>SurvivalDC:</dt>
       <dd> >= 10 Large groups (around 10) of monstrous humanoids seem to walk on this beach with some regularity</dd>
       <dd> >= 15 Formian workers (around 3 each time) are regularly walking on the beach.</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>On the beach, some belongings of a dead ranger.</p>
    <ul>
        <li>Bow</li>
        <li>Armor</li>
    </ul>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}