{% extends "dnd/abstract/place.html" %}

{% block title %}Beach, left{% endblock %}
{% block summary %}No summary{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>no locations</p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>SurvivalDC:</dt>
        <dd> >= 10 Large groups (around 10) of monstrous humanoids seem to walk on this beach with some regularity</dd>
        <dd>
            >= 20 A smaller group of monstrous humanoids (around 3 each time) that leave steps as if on six feet (like Formians) are regularly walking on the beach.
            However they do not have feet that resemble Formians.
        </dd>
    </dl>
    <dl class="dc">
        <dt>KnowledgeNatureDC:</dt>
        <dd> 10 >= Formians are monstrous humanoids that are half ant, half human, which live in big colonies led by powerful mystical queens.</dd>
        <dd> 15 >= Details about Workers and Warriors</dd>
        <dd> 20 >= Details about Taskmasters and Myrmarchs</dd>
        <dd> 25 >= Details about Queens</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}