{% extends "dnd/abstract/place.html" %}

{% block todo %}
    <p>Iedereen wordt wakker op het strand met de volgende condities:</p>
    <ul>
        <li>dorst, zo snel mogelijk drinken (mogelijk vergiftigd water), alcoholist in Yhaunn, mogelijk aanvallen van party members (dorst).</li>
        <li>honger, zo snel mogelijk eten (mogelijk aanvallen van party members om bloed te drinken, musquito transformation)</li>
        <li>slapen, exhausted</li>
        <li>seks, asociaal gedrag van het eiland, rukken. Denise kan zeker verleiden.</li>
        <li>Ademen, gaat vol in de wind staan om de lucht in te ademen (verder niets).</li>
    </ul>
{% endblock %}

{% block title %}Beach, center{% endblock %}
{% block summary %}No summary{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>no locations</p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
       <dt>SurvivalDC:</dt>
       <dd> >= 10 Large groups (around 10) of monstrous humanoids seem to walk on this beach with some regularity</dd>
       <dd> >= 15 Formian workers (around 3 each time) are regularly walking on the beach.</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}