{% extends "dnd/abstract/game_element.html" %}
{% load staticfiles %}

{% block title %}Hive level 0{% endblock %}
{% block summary %}
    <p>
        The main level of the hive with most activity and patrols.
    </p>
{% endblock %}

{% block events %}
    <p>During the day all Formians are asleep. Except 2 patrols with 2 Myrmians and 2 taskmasters</p>
    <ul>
        <li>One patrol is always on level 2</li>
        <li>Another walks level 0 in a seemingly random pattern</li>
        <li>The taskmaster walk the parameters with two Ankhegs</li>
    </ul>
    <p>In the evening and night the Hive is at its busiest. Workers do not act as guards, but the rest could alarm everybody.</p>
{% endblock %}

{% block locations %}
    <p>
        The hive is the home of the Formians.
        It is made out of dirt providing smooth walls (ClimbDC 20)
        They store mostly food (especially sweet food), but also other things that they find and can get their hands on.
    </p>
    <p>Here is a list of chambers in the Hive</p>
    <ul>
        <li>1 = North entrance</li>
        <li>2 = North entrance guard post</li>
        <li>3 = Storage</li>
        <li>4 = Storage</li>
        <li>5 = 2x Taskmaster (1 asleep)</li>
        <li>6 = 1x Taskmaster + 1x Myrmarch</li>
        <li>7 = 1x Taskmaster</li>
        <li>8 = Chamber of the Vessel + Taskmaster.</li>
        <li>9 = Prison</li>
        <li>10 = Storage</li>
        <li>11 = Storage</li>
        <li>12 = Myrmarch + taskmaster</li>
        <li>13 = West entrance guard post</li>
        <li>14 = South entrance guard post</li>
        <li>15 = Storage</li>
        <li>16 = Storage</li>
        <li>17 = 2x Taskmaster (1 asleep)</li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>Behold the vessel and its light directly to <a href="../../obstacles/01-born-again/04-enlightment.html">become enlightened</a>.</p>
{% endblock %}

{% block creatures %}
    <p>The following creatures can be found in the Hive</p>
    <ul>
        <li><a href="../../monsters/Formian+tainted-worker.html">Tainted workers</a></li>
        <li><a href="../../monsters/Formian+tainted-warrior.html">Tainted warriors</a></li>
        <li><a href="../../monsters/Formian+tainted-taskmaster.html">Tainted taskmasters</a></li>
        <li><a href="../../monsters/Formian+tainted-myrmarch.html">Tainted myrmarchs</a></li>
        <li><a href="../../monsters/Ankheg-vessel+swallowed-hanumans-soul.html">Ankheg vessel</a></li>
    </ul>
{% endblock %}

{% block traps %}
    <p>
        Entrances that are not guarded by a <a href="../../groups/Formians-patrol.html">patrol</a> are covered with poisoned caltrops.
        They attack with +0 against 10+Dex. If it hits the character stepped in one. SearchDC25, DisableDC20
    </p>
    <dl class="dc">
        <dt>FortDC: (Myrmarchs poison)</dt>
        <dd> 20 < 2d6 Dex damage</dd>
    </dl>
{% endblock %}

{% block conditions %}
    <p>Another save for taint as described in <a href="overview.html">overview</a> when entering vessel chamber (chamber 8).</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>ArcaneDC: (Ankhegs)</dt>
        <dd> 10 <= The ankheg is a burrowing monster with a taste for fresh meat.</dd>
        <dd> 15 >= It can grapple and spit acid.</dd>
    </dl>

    <dl class="dc">
        <dt>KnowledgeNatureDC: (Formians)</dt>
        <dd> 10 >= Formians are monstrous humanoids that are half ant, half human, which live in big colonies led by powerful mystical queens.</dd>
        <dd> 15 >= Details about Workers and Warriors</dd>
        <dd> 20 >= Details about Taskmasters and Myrmarchs</dd>
        <dd> 25 >= Details about Queens</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>In each of the storages something can be found. Roll to determine what.</p>
    <ol>
        <li>2x CMW</li>
        <li>1x Masterwork small sword</li>
        <li>6x Peasant clothing (medium size)</li>
        <li>1x Headband of Intellect</li>
        <li>1x Masterwork studded leather</li>
        <li>1x Periapt of Wisdom</li>
    </ol>
{% endblock %}

{% block misc %}
    <p><img src="{% static "pics/hive-0.png" %}" alt="hive level 0"/></p>
{% endblock %}

