{% extends "dnd/abstract/game_element.html" %}
{% load staticfiles %}

{% block title %}Hive level 2{% endblock %}
{% block summary %}A place for Myrmarchs and warriors to oversee the hive surroundings.{% endblock %}

{% block events %}
    <p>Patrols and Myrmarchs are on guard 24/7 on this level.</p>
{% endblock %}

{% block locations %}
    <p>
        The hive is the home of the Formians.
        It is made out of dirt providing smooth walls (ClimbDC 20)
        They store mostly food (especially sweet food), but also other things that they find and can get their hands on.
    </p>
    <p>
        Level 2 consist of 1 room of 7x7 with an opening of 3 in the middle of each wall.
        There are 2 Myrmarchs and 2 patrols present (generally they walk the parameters of the Hive).
    </p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>The following creatures can be found on this level.</p>
    <ul>
        <li><a href="../../monsters/Formian+tainted-warrior.html">Tainted warriors</a></li>
        <li><a href="../../monsters/Formian+tainted-myrmarch.html">Tainted myrmarchs</a></li>
    </ul>
{% endblock %}

{% block traps %}
    <p>
        Entrances that are not guarded by a <a href="../../groups/Formians-patrol.html">patrol</a> are covered with poisoned caltrops.
        They attack with +0 against 10+Dex. If it hits the character stepped in one. SearchDC17
    </p>
    <dl class="dc">
        <dt>FortDC: (Myrmarchs poison)</dt>
        <dd> 20 < 2d6 Dex damage</dd>
    </dl>
{% endblock %}

{% block conditions %}
    <p>Another save for taint as described in <a href="overview.html">overview</a> when entering vessel chamber (chamber 8).</p>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>ArcaneDC: (Ankhegs)</dt>
        <dd> 10 <= The ankheg is a burrowing monster with a taste for fresh meat.</dd>
        <dd> 15 >= It can grapple and spit acid.</dd>
    </dl>

    <dl class="dc">
        <dt>KnowledgeNatureDC: (Formians)</dt>
        <dd> 10 >= Formians are monstrous humanoids that are half ant, half human, which live in big colonies led by powerful mystical queens.</dd>
        <dd> 15 >= Details about Workers and Warriors</dd>
        <dd> 20 >= Details about Taskmasters and Myrmarchs</dd>
        <dd> 25 >= Details about Queens</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}

