{% extends "dnd/abstract/base.html" %}

{% block content %}

    <h3>Big Ant Island</h3>

    <p>
        Due to the presents of <a href="dnd/characters/Hanuman+Talos-aspect.html">Hanuman's</a> soul,
        without Hanuman being present to clean the evil.
        The adventurers suffer from taint.
        Taint thresholds can be found in HoH on page 63
    </p>

    <dl class="dc">
       <dt>FortDC:</dt>
       <dd> < 24 Suffer 2d4 corruption</dd>
    </dl>

    <dl class="dc">
        <dt>WillDC:</dt>
        <dd> < 24 Suffer 2d4 depravity</dd>
    </dl>

    <dl class="dc">
        <dt>ReflDC:</dt>
        <dd> < 24 Suffer 2d4 charge</dd>
    </dl>

    <dl id="corruption">
        <dt>Mild</dt>
        <dd>
            Light sensitivity and low light vision
        </dd>
        <dt>Moderate</dt>
        <dd>
            <ul>
                <li>
                    Your fingers and toes are starting to contract forming pincers.
                    -10 speed, -2 attack, CasterDC 20 for each spell
                </li>
                <li>
                    Whenever you try to speak it is hard not to make it sound like an annoying zooming sound.
                    CasterDC20 for each spell
                </li>
            </ul>
        </dd>
        <dt>Severe</dt>
        <dd>
            You grow wings that give a 40ft fly speed (average)
        </dd>
    </dl>

    <dl id="deprivation">
        <dt>Mild</dt>
        <dd>
            You are more self centered than usual. You treat others friendly/indifferent.
            Part of this is that you're having trouble to resist the urge that awoken you from death.
            You try to relief your urge as soon as possible.
            Everything that gets in your way annoys you.
        </dd>
        <dt>Moderate</dt>
        <dd>
            <ul>
                <li>
                    Food & drink: You long for raw meat or drinking blood.
                    You won't eat anything else.
                    Thirst after 1 day + Con hours: every hour FortDC10 + 1 for each check.
                    Hunger after 3 days + Con hours: every hour FortDC10 + 1 for each check.
                    Damage: 1d6 non-lethal + fatigued, die when unconscious.
                </li>
                <li>
                    Sleep: You have the feeling you don't get enough sleep.
                    This is a self-fulfilling prophecy.
                    You are always fatigued, no matter how long you sleep.
                </li>
                <li>
                    Breath: You have the feeling that you're lacking air during strenuous activity.
                    This is a self-fulfilling prophecy.
                    You are staggered every 3 rounds during combat.
                </li>
                <li>
                    Sex: You can't think about anything but sexs, even when you shouldn't.
                    -2 pentalty on attacks, damage, skills.
                </li>
            </ul>
        </dd>
        <dt>Severe</dt>
        <dd>
            <ul>
                <li>
                    Food & drink: You only want blood and flesh.
                    Every 4 hours you become unfriendly/hostile against everybody until you get your way.
                </li>
                <li>
                    Sleep: You have the feeling you don't get enough sleep.
                    This is a self-fulfilling prophecy.
                    You are always exhausted, no matter how long you sleep.
                </li>
                <li>
                    Breath: You have the feeling that you're lacking air during strenuous activity.
                    This is a self-fulfilling prophecy.
                    From the 3rd round in combat, you start to hyperventilate.
                    This leads to suffication.
                    Suffocation: 2x Con rounds, after that FortDC10 +1 per check
                    Damage: unconscious (start breathing normally)
                </li>
                <li>
                    Sex: You start to become obsessed with sex.
                    -4 penalty on Wis and Cha
                </li>
            </ul>
        </dd>
    </dl>

    <dl id="charge">
        <dt>Mild</dt>
        <dd>
            Give each other a shock when touching. +1 damage unarmed attacks
        </dd>
        <dt>Moderate</dt>
        <dd>
            <p>
                Pick a spell at random from this list.
                Maximum level is Cha-10/2 rounded down (minimum 1)
                Use this spell an amount of Cha-10 times a day
                Caster level is equal to your HD
            </p>
            <ol>
                <li>Ray of frost</li>
                <li>Electric jolt</li>
                <li>Magic missile</li>
                <li>Shocking grasp</li>
                <li>Ray of ice</li>
                <li>Scorching ray</li>
                <li>Fireball</li>
                <li>Rainbow blast</li>
                <li>Force missiles</li>
                <li>Shout</li>
            </ol>
        </dd>
        <dt>Severe</dt>
        <dd>
            <p>
                Pick a spell at random from this list.
                The spell replaces the spell from moderate exposure, unless that spell is more powerful.
                In that case keep both.
                Maximum level is Cha-10 (minimum 1).
                Use this spell an amount of Cha-10 times a day
                Caster level is equal to your HD
            </p>
            <ol>
                <li>Ray of frost</li>
                <li>Electric jolt</li>
                <li>Magic missile</li>
                <li>Shocking grasp</li>
                <li>Ray of ice</li>
                <li>Scorching ray</li>
                <li>Fireball</li>
                <li>Rainbow blast</li>
                <li>Force missiles</li>
                <li>Shout</li>
            </ol>
        </dd>
    </dl>

{% endblock %}
