{% extends "dnd/abstract/stats.html" %}

{% block hit-dice %}12HD, 108hp (144hp rage){% endblock %}
{% block initiative %}+2{% endblock %}
{% block speed %}40{% endblock %}
{% block ac %}25/26 (t=12, ff=23) (-2 rage){% endblock %}
{% block attacks %}+20/+15/+10 (+23/+17/+13 rage){% endblock %}
{% block damage %}1d8+6 x3 (+3, rage){% endblock %}
{% block face-reach %}5ft.{% endblock %}
{% block special-attacks %}Rage{% endblock %}
{% block special-qualities %}3/- DR, Improved uncanny dodge{% endblock %}
{% block spell-like-abilities %}{% endblock %}
{% block saves %}
    <ul>
        <li>Fort +11</li>
        <li>Ref +8</li>
        <li>Will +10 (+3 rage)</li>
    </ul>
{% endblock %}
{% block abilities %}
    <ul>
        <li>Str 18</li>
        <li>Dex 14</li>
        <li>Con 16</li>
        <li>Int 8</li>
        <li>Wis 8</li>
        <li>Cha 8</li>
    </ul>
{% endblock %}
{% block skills %}{% endblock %}
{% block feats %}power attack, cleave, dodge, iron will, improved critical, weapon focus{% endblock %}
{% block grapple %}{% endblock %}
{% block gear %}Amulet of health +2, Breast plate +3, Shield heavy steel +3, Battleaxe +3, Cloak of resistance +3{% endblock %}

{% block descriptions %}{% endblock %}