{% extends "dnd/abstract/stats.html" %}

{% block hit-dice %}0{% endblock %}
{% block initiative %}+0{% endblock %}
{% block speed %}30{% endblock %}
{% block ac %}10 (t=10, ff=10){% endblock %}
{% block attacks %}+16/+9{% endblock %}
{% block damage %}1d6+3 (6d6 sneak){% endblock %}
{% block face-reach %}5ft.{% endblock %}
{% block special-attacks %}<a href="http://dndsrd.net/specialAttacks.html#trip">trip</a>, 3x Gray Whinnis{% endblock %}
{% block special-qualities %}Ghost step, Ki dodge, Speed climb, Ghost strike, Evasion, Acrobatics +4, Improved poison use{% endblock %}
{% block spell-like-abilities %}{% endblock %}
{% block saves %}
    <ul>
        <li>Fort +4</li>
        <li>Ref +8</li>
        <li>Will +10</li>
    </ul>
{% endblock %}
{% block abilities %}
    <ul>
        <li>Str 14</li>
        <li>Dex 18</li>
        <li>Con 16</li>
        <li>Int 10</li>
        <li>Wis 18</li>
        <li>Cha 10</li>
    </ul>
{% endblock %}
{% block skills %}{% endblock %}
{% block feats %}Weapon finesse, Combat reflexes, Iron will{% endblock %}
{% block grapple %}{% endblock %}
{% block gear %}Cloak of resistance +3, Amulet of mighty fist +3, Ghost shroud, Kama of <a href="http://dndsrd.net/spellsDtoE.html#dimensional-anchor">binding</a>{% endblock %}

{% block descriptions %}{% endblock %}

