{% extends "dnd/abstract/stats.html" %}

{% block hit-dice %}126 (9HD){% endblock %}
{% block initiative %}+3{% endblock %}
{% block speed %}40ft (climb 40ft){% endblock %}
{% block ac %}16 (t=12, ff=15){% endblock %}
{% block attacks %}4x claw +15, bite +10{% endblock %}
{% block damage %}1d4+7 (claws), 1d8+4 (bite){% endblock %}
{% block face-reach %}10ft., 10ft{% endblock %}
{% block special-attacks %}Rend 2d4+9{% endblock %}
{% block special-qualities %}
    Light sensitivity, Lowlight vision (60ft),
    Darkvision, Scent
{% endblock %}
{% block spell-like-abilities %}{% endblock %}
{% block saves %}
    <ul>
        <li>Fort +7</li>
        <li>Ref +8</li>
        <li>Will +5</li>
    </ul>
{% endblock %}
{% block abilities %}
    <ul>
        <li>Str 22</li>
        <li>Dex 17</li>
        <li>Con 14</li>
        <li>Int 2</li>
        <li>Wis 12</li>
        <li>Cha 7</li>
    </ul>
{% endblock %}
{% block skills %}Climb +14, Move Silently +8, Spot +6{% endblock %}
{% block feats %}Iron Will, Thoughness{% endblock %}
{% block grapple %}+17{% endblock %}
{% block gear %}{% endblock %}

