{% extends "dnd/abstract/stats.html" %}

{% block hit-dice %}99hp (9HD){% endblock %}
{% block initiative %}+3{% endblock %}
{% block speed %}30 (fly 40 average){% endblock %}
{% block ac %}18 (t=13 ff=15){% endblock %}
{% block attacks %}Sting +11, 2x claws +9, bite +9{% endblock %}
{% block damage %}2d4+4 + FortDC14 1d6 Str (sting+poison), 1d6+2 (claws), 1d4+2 (bite){% endblock %}
{% block face-reach %}5ft.{% endblock %}
{% block special-attacks %}
    Improved grapple (pincers)
    Blood drain
    Poison
{% endblock %}
{% block special-qualities %}
    Light sensitivity, Lowlight vision (60ft),
    Resistance to electricity 10, fire 10, and sonic 10,
    Immunity to poison, petrification and cold,
    SR 18
{% endblock %}
{% block spell-like-abilities %}
    Hanuman soul's charge
{% endblock %}
{% block saves %}
    <ul>
        <li>Fort +7</li>
        <li>Ref +9</li>
        <li>Will +6</li>
    </ul>
{% endblock %}
{% block abilities %}
    <ul>
        <li>Str 17</li>
        <li>Dex 16</li>
        <li>Con 14</li>
        <li>Int 10</li>
        <li>Wis 12</li>
        <li>Cha 12</li>
    </ul>
{% endblock %}
{% block skills %}Climb +10, Hide +10, Jump +14, Listen +8, Move Silently +10, (+3 following tracks), Tumble +12{% endblock %}
{% block feats %}Dodge, Multiattack{% endblock %}
{% block grapple %}+20{% endblock %}
{% block gear %}{% endblock %}

{% block descriptions %}
    <h4>Descriptions</h4>
    <dl>
        <dt>Hanuman soul's charge (2x, level 9, max 2)</dt>
        <dd>
            <p>
                Take a random spell from the list below.
                Creature can perform this spell Cha-score -10 times per day (minimum 1).
                Ability is at a HD spell level.
                Max spell is equal to Cha-score -10
            </p>
            <ol>
                <li>Ray of frost</li>
                <li>Electric jolt</li>
                <li>Magic missile</li>
                <li>Shocking grasp</li>
                <li>Ray of ice</li>
                <li>Scorching ray</li>
            </ol>
        </dd>
        <dt>Improved grapple</dt>
        <dd><p>Tainted formians can grapple with +8 bonus when they bite or claw</p></dd>
        <dt>Blood drain</dt>
        <dd><p>When grappling tainted formians deal 1d4 Con damage at the beginning of their turn by sucking blood.</p></dd>
        <dt>Poison</dt>
        <dd>Injury, Fortitude DC 14, initial and secondary damage 1d6 Str. The save DC is Constitution-based.</dd>
    </dl>
{% endblock %}