{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Exploring the city{% endblock %}
{% block summary %}Getting to know Yauhnn and its inhabitants.{% endblock %}

{% block events %}
    <p>
        After receiving healing from the taint on the Big Ant Island everybody got appointed a little shack to sleep in.
        All shacks are part of a cave network in the cliff side. They have a beautiful view upon the sea.
        You were given very simple cloths (1 sp) that smell like fish.
    </p>

    <p>
        Before letting you rest <a href="../../characters/Janala+talos-oracle.html">Janala</a>
        lets you know that the entire slums are there to help.
        As an Oracle of Talos she also offers any kind of service that you may need (dirty -> WillDC).
        You can find her in the Church of Talos.
    </p>

{% endblock %}

{% block locations %}
    <p>Exploring the city starts from the <a href="../../places/Yauhnn/slums-district/cave-slums.html">cave slums</a></p>
{% endblock %}

{% block achievements %}
    <ul>
        <li>Walking the slumbs reveals opportunities to <a href="01-earning-on-the-side.html">earn on the side</a></li>
        <li>Visiting the market will lead to <a href="02-assasination-attempt.html">assassination attempt</a></li>
    </ul>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>When Faradrim is confronted with all services he needs to make a Will save to resist</p>
    <dl class="dc">
        <dt>WillDC: (she's ugly as hell -5)</dt>
        <dd> 10 < You arrange to have sex with her right there and now. Afterwards it feels dirty.</dd>
    </dl>
{% endblock %}

{% block knowledges %}
    <p>About the shack everybody wakes up in:</p>
    <dl class="dc">
        <dt>SurvivalDC:</dt>
        <dd> 15 >= Normally 4 to 6 creatures occupy this tiny space.</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}