{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Exploring the city{% endblock %}
{% block summary %}Getting to know Yauhnn and its inhabitants.{% endblock %}

{% block events %}
    <p>
        After receiving healing from the taint on the Big Ant Island everybody got appointed a little shack to sleep in.
        All shacks are part of a cave network in the cliff side. They have a beautiful view upon the sea.
        You were given very simple cloths (1 sp) that smell like the slums. A mixture of rotting fish and dried sweat
    </p>

    <p>
        Before letting you rest <a href="../../characters/Janala+talos-oracle.html">Janala</a>
        lets you know that the entire slums are there to help.
        As an Oracle of Talos she also offers any kind of service that you may need (dirty -> WillDC).
        You can find her in the Temple of Talos.
        She hopes to speak tomorrow when you are more familiar with the city and she has done her prayers.
    </p>

    <p>
        When paying something in the city there is a 60% change that they get back Waukeen coins (illusionary gold).
    </p>

{% endblock %}

{% block locations %}
    <p>Exploring the city starts from the <a href="../../places/Yauhnn/slums-district/cave-slums.html">cave slums</a></p>
{% endblock %}

{% block achievements %}
    <ul>
        <li>Walking the slums reveals opportunities to <a href="01-earning-on-the-side.html">earn on the side</a></li>
        <li>Visiting the market will lead to <a href="02-the-assassination.html">assassination attempt</a></li>
    </ul>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>When Faradrim is confronted with all services he needs to make a Will save to resist</p>
    <dl class="dc">
        <dt>WillDC: (she's ugly as hell -5)</dt>
        <dd> 10 < You arrange to have sex with her right there and now. Afterwards it feels dirty.</dd>
    </dl>
{% endblock %}

{% block knowledges %}

    <dl class="dc">
        <dt>SurvivalDC: (shack they wake up in)</dt>
        <dd> 15 >= Normally 4 to 6 creatures occupy this tiny space.</dd>
    </dl>

    <dl class="dc">
        <dt>LocalDC: (City)</dt>
        <dd>5 >= Yauhnn is a city in <a href="../../places/Sembia.html">Sembia</a>.</dd>
        <dd>10 >= 2 to 3 story buildings. Steeply pitched tile roofs. Open sewer channel on either side of the streets. There are 2 domes in the center of the city.</dd>
        <dd>13 >= Noble houses are simple. Most have turrets.</dd>
        <dd>15 >= They know something about <a href="../../groups/Yauhnn-merchant-council.html">the council</a>.</dd>
    </dl>



{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>Gather information: each area has its own. Men in the inn have other things to say than children in the street.</p>
{% endblock %}