{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Exploring the city{% endblock %}
{% block summary %}Getting to know Yauhnn and its inhabitants.{% endblock %}

{% block events %}
    <p><b>
        After receiving healing from the taint on the Big Ant Island everybody went to sleep and didn't get up until late.
        Everybody wakes up in a shack. There are cloths next to you that smell like fish.
        Your weapons are there as well.
    </b></p>

    <p>
        When visiting <a href="../../characters/Janala+talos-oracle.html">Janala</a>
        she explains that the entire slums are there to help.
        She also offers any kind of service that you may need.
        She is an Oracle of Talos and she's an expert with the following spells.
    </p>

    <ul>
        <li><a href="http://dndsrd.net/spellsHtoL.html#identify">identify</a></li>
        <li><a href="http://dndsrd.net/spellsAtoB.html#augury">augury</a></li>
        <li><a href="http://dndsrd.net/spellsDtoE.html#divination">divination</a></li>
        <li><a href="http://dndsrd.net/spellsS.html#scrying">scrying</a></li>
        <li><a href="http://dndsrd.net/spellsC.html#commune">commune</a></li>
        <li><a href="http://dndsrd.net/spellsHtoL.html#legend-lore">legend lore</a></li>
    </ul>

{% endblock %}

{% block locations %}
    <p>
        A young man called <a href="../../characters/Valesh+half-Locathah-guide.html">Valesh</a> introduces himself.
        He will act as a guide to the party in the city of Yauhnn
        There are a few things that the adventurers can undertake:
    </p>
    <ul>
        <li><a href="../../characters/Janala+talos-oracle.html">Janala</a> ask you to visit her in the morning (see events).</li>
        <li>Explore the slums.</li>
        <li>Go to the big market.</li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>Visiting the market leads to <a href="01-assasination-attempt.html">assassination attempt</a></p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>When Faradrim is confronted with all services he needs to make a Will save to resist</p>
    <dl class="dc">
        <dt>WillDC: (she's ugly as hell -5)</dt>
        <dd> 10 < You arrange to have sex with her right there and now. Afterwards it feels dirty.</dd>
    </dl>
{% endblock %}

{% block knowledges %}
    <p>About the shack everybody wakes up in:</p>
    <dl class="dc">
        <dt>SurvivalDC:</dt>
        <dd> 15 >= Normally 4 to 6 creatures occupy this tiny space.</dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}