{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Earning on the side{% endblock %}
{% block summary %}Adventurers didn't find everything they need and could use some cash.{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>There are a few opportunities to earn money in Yauhnn</p>
    <ul>
        <li>
            <a href="../../characters/Sjahnsesh+shark-hunter.html">Sjahnsesh</a>
            offers a trip to <a href="../../places/Yauhnn/slums-district/the-horrid-lust+pirate-inn.html">The Horrid Lust</a>
            at <a href="../../places/Yauhnn/slums-district/fisher-boats.html">fisher boats</a>
        </li>
        <li>
            With a high enough Gather the Locathah tell that strong guys can earn some money on the side with
            <a href="../../characters/Thekesh-Moltabar+naieve-entrepeneur.html">Thekesh (Moltabar)</a>
        </li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>
        After walking the slums they could go to the market
        (leading to <a href="02-assasination-attempt.html">assassination attempt</a>)
    </p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}