{% extends "dnd/abstract/obstacle.html" %}

{% block title %}First Night In Town{% endblock %}
{% block summary %}Adventurers get a sense of the nightlife in Yauhnn{% endblock %}

{% block events %}
    <p>no events</p>
{% endblock %}

{% block locations %}
    <p>Depending on whether they have heard from these places they can go:</p>
    <ul>
        <li>Visit the <a href="../../places/Yauhnn/slums-district/the-horrid-lust+pirate-inn.html">Horrid Lust</a></li>
        <li>Visit the <a href="../../places/Yauhnn/trade-district/harbor/the-oceans-night+pleasure-house.html">Ocean's Lust</a>.</li>
        <li>Visit the nightlife at <a href="../../places/Yauhnn/trade-district/the-guilds.html">the guilds</a></li>
    </ul>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>no traps</p>
{% endblock %}

{% block conditions %}
    <p>no conditions</p>
{% endblock %}

{% block knowledges %}
    <p>no knowledges</p>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}