{% extends "dnd/abstract/obstacle.html" %}

{% block todo %}How long do they spend in heaven/hell?{% endblock %}

{% block title %}Leaving heaven or hell{% endblock %}
{% block summary %}Characters are called back to life.{% endblock %}

{% block misc %}
<p>
    Those who have died are in heaven/hell for <span style="color: red">how long?</span>
	It is amazing/awful.
	After <span style="color: red">how long?</span> you are called towards the living.
    To come back to life you need a spark, some inspiration to get back into a physical body again.
	You need to choose what that spark is.
	Is it to drink, to eat, to sleep, to breath or to have sex at least one more time?
{% endblock %}

{% block achievements %}
<p>Continue with <a href="01-finding-the-light.html">finding the light</a></p>
{% endblock %}