{% extends "dnd/abstract/obstacle.html" %}

{% block title %}Finding the light{% endblock %}
{% block summary %}No summary{% endblock %}

{% block events %}
    <p>Day 1</p>
    <ul>
        <li>Awaken on the <a href="dnd/places/big-ant-island/beach-center.html">beach</a></li>
        <li>The whole day a strong wind (see conditions)</li>
    </ul>
    <p>Night 1</p>
    <ul>
        <li>See the light from atop the mountain</li>
        <li>Earthquake (see conditions)</li>
    </ul>
    <p>Day 2..X suffer from the taint on the <a href="dnd/places/big-ant-island/overview.html">big ant island</a></p>

{% endblock %}

{% block locations %}
    <p>no locations</p>
{% endblock %}

{% block achievements %}
    <p>no achievements</p>
{% endblock %}

{% block creatures %}
    <p>no creatures</p>
{% endblock %}

{% block traps %}
    <p>All fruits have 20% chance of being poisonous as well as water from the stream.</p>
    <dl class="dc">
       <dt>FortDC: 14 (food)</dt>
       <dd>2x 1d6 from random ability</dd>
    </dl>
    <dl class="dc">
       <dt>FortDC: 20 (water from stream)</dt>
       <dd>Fatigued & -10 Will saves</dd>
    </dl>
{% endblock %}

{% block conditions %}
    <p>Severe wind (40 mph)</p>
    <ul>
        <li>Ranged weapons -4</li>
        <li>Each round make a Fort check</li>
    </ul>
    <dl class="dc">
       <dt>FortDC: 15 (wind)</dt>
       <dd>Checked (medium) or knocked prone (small)</dd>
    </dl>

    <p>Earthquake</p>
    <ul>
        <li>
            Each creature standing in the area must make a DC 15 Reflex save or fall down.
            Fissures open in the earth, and every creature on the ground has a 25% chance to fall into one
            (Reflex DC 20 to avoid a fissure).
            At the end of the spell, all fissures grind shut, killing any creatures still trapped within.
        </li>
    </ul>
{% endblock %}

{% block knowledges %}
    <dl class="dc">
        <dt>SurvicalDC: (Food)</dt>
        <dd> 10 >= Find food (20% chance on poison) </dd>
        <dd>
            15 >= Find food (fruits) and water (rain water) that is certainly not poisonous.
                  Find food and water for another for every two points above 15.
        </dd>
    </dl>

    <dl class="dc">
        <dt>SurvivalDC: (Whether)</dt>
        <dd> 10 >= Storm will calm within a day.</dd>
        <dd>
           +2 Fort against the wind.
           +2 Fort against the wind for another for every two points above 15.
        </dd>

    </dl>

    <dl class="dc">
        <dt>NatureDC:</dt>
        <dd> 10 >= Tropical forest. Very diverse species, but also very dangerous.</dd>
        <dd> 15 >= Water from streams might be poisoned.
                  Not all fruits are eatable.
        </dd>
    </dl>
{% endblock %}

{% block items %}
    <p>no items</p>
{% endblock %}

{% block misc %}
    <p>no misc</p>
{% endblock %}